<div id="note-<%= note.id %>">
  <div class="refreshable" data-refresh="<%= note_path(note) %>">
    <div class="text-center loading position-absolute pl-5 pt-2" \
         style="display: none">
      <div class="spinner-border" role="status">
        <span class="sr-only"><%= t("observatorio.loading") %></span>
      </div>
    </div>
    <div class="content">
      <%=
        render partial: "confirm_delete", locals: {
          record: note,
          confirm_message: Note.human_attribute_name(:destroy_confirm).html_safe,
          modal_id: "destroy-note-#{note.id}",
          modal_title: Note.human_attribute_name(:destroy)
        }
      %>
      <div class="media item ">
        <div class="media-body mt-0 mb-2">
          <div class="d-inline-block main">
            <span class="float-left mr-2">
              <strong class="mb-md-0">
                <%= display_time(note.created_at) %>
              </strong>
              &middot;
              <%= note.author.email %>
            </span>
            <div class="d-none d-md-block">
              <% destroy_note_id = "destroy-note-#{note.id}" %>
              <% if can? :delete, note %>
                <a href="#<%= destroy_note_id %>" class="action has-tooltip mx-1" data-toggle="modal"
                   data-placement="top" title="<%= Note.human_attribute_name(:destroy) %>">
                  <%= image_tag image_path("open-iconic/x.svg") %>
                </a>
              <% end %>
            </div>
          </div>
          <span class="ml-2 d-block">
            <%= note.body.gsub(/\n/, '<br/>').html_safe %>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
