<div class="modal-body">
  <%= t("observatorio.models.organization_position.destroyed",
        position: tag.strong(display_name(@resource))).html_safe %>
</div>
<div class="modal-footer">
  <%= link_to t("observatorio.dialog.ok"), organization_positions_path,
        class: "btn btn-primary btn-sm"%>
</div>
