<%= form_for @resource, html: { :"data-init" => "initPersonForm" } do |f| %>
  <div class="modal-body">
    <div class="form-group row">
      <% name_error = @resource.errors[:"main_name.value"]&.first  %>
      <%= label_tag "person[name]", @resource.class.human_attribute_name(:name), class: "col-3" %>
      <%= text_field_tag "person[name]", @resource.name,
            :"data-autofocus" => true, required: true, autocomplete: "off",
            class: "form-control form-control-sm col-8 #{"is-invalid" if name_error }" %>
      <% if name_error %>
        <div class="invalid-feedback">
          <div class="row">
            <div class="col-8 offset-3">
              <%= name_error %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="form-group date-boundaries-group row">
      <% date_of_birth_error = @resource.errors[:date_of_birth]&.first %>
      <%= label_tag "person[date_of_birth]",
            @resource.class.human_attribute_name(:date_of_birth), class: "col-3" %>
      <%= date_field_tag "person[date_of_birth]", @resource.date_of_birth,
            class: "form-control form-control-sm col-8 #{"is-invalid" if date_of_birth_error}" %>
      <% if date_of_birth_error %>
        <div class="invalid-feedback">
          <div class="row">
            <div class="col-8 offset-3">
              <%= date_of_birth_error %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="form-group date-boundaries-group row">
      <% date_of_death_error = @resource.errors[:date_of_death]&.first %>
      <%= label_tag "person[date_of_death]",
            @resource.class.human_attribute_name(:date_of_death), class: "col-3" %>
      <%= date_field_tag "person[date_of_death]", @resource.date_of_death,
            class: "form-control form-control-sm col-8 #{"is-invalid" if date_of_death_error}" %>
      <% if date_of_death_error %>
        <div class="invalid-feedback">
          <div class="row">
            <div class="col-8 offset-3">
              <%= date_of_death_error %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <fieldset class="form-group">
      <div class="row">
        <%= label_tag "person[approximate_dates]",
              @resource.class.human_attribute_name(:approximate_dates), class: "col-3" %>
        <div class="form-control-sm form-control-check col-8">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="person[approximate_dates]" required
                   id="approximateDatesYes" value="1" <%= "checked" if @resource.approximate_dates %>>
            <label class="form-check-label" for="approximateDatesYes">
              <%= t("observatorio.true") %>
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="person[approximate_dates]" required
                   id="approximateDatesNo" value="0" <%= "checked" unless @resource.approximate_dates %>>
            <label class="form-check-label" for="approximateDatesNo">
              <%= t("observatorio.false") %>
            </label>
          </div>
        </div>
      </div>
    </fieldset>
    <div class="border-bottom pb-2 mb-2">
      <%= @resource.class.human_attribute_name(:birth_location) %>
    </div>
    <div class="form-group location-group small">
      <%= f.hidden_field :birth_location_id,
            :"data-geocoding-placeholder" => t("observatorio.search.placeholder"),
            :"data-locations-path" => reverse_geocode_locations_path %>
      <% if @resource.birth_location %>
        <div class="form-check mb-1">
          <%= radio_button_tag "birth_location_radio", @resource.birth_location_id, true,
                id: "personBirthLocation", required: true, class: "form-check-input" %>
          <label class="form-check-label" for="personBirthLocation">
            <%= truncated_address(@resource.birth_location) %>
          </label>
        </div>
      <% end %>
      <div class="form-check mb-1">
        <%= radio_button_tag "birth_location_radio", nil, false,
              id: "searchLocation", required: true,
              class: "form-check-input location-search" %>
        <label class="form-check-label" for="searchLocation">
          <%= @resource.class.human_attribute_name(:location_search) %>
        </label>
      </div>
      <div class="map-container mt-2" id='<%= SecureRandom.uuid %>'>
      </div>
      <div class="form-check mb-1">
        <%= radio_button_tag "birth_location_radio", nil, @resource.birth_location_id.nil?,
              class: "form-check-input", required: true, id: "nullBirthLocation" %>
        <label class="form-check-label" for="nullBirthLocation">
          <%= @resource.class.human_attribute_name(:location_null) %>
        </label>
      </div>
    </div>
    <div class="border-bottom pb-2 mb-2">
      <%= @resource.class.human_attribute_name(:death_location) %>
    </div>
    <div class="form-group location-group small">
      <%= f.hidden_field :death_location_id,
            :"data-geocoding-placeholder" => t("observatorio.search.placeholder"),
            :"data-locations-path" => reverse_geocode_locations_path %>
      <% if @resource.death_location %>
        <div class="form-check mb-1">
          <%= radio_button_tag "death_location_radio", @resource.death_location_id, true,
                id: "personDeathLocation", required: true, class: "form-check-input" %>
          <label class="form-check-label" for="personDeathLocation">
            <%= truncated_address(@resource.death_location) %>
          </label>
        </div>
      <% end %>
      <div class="form-check mb-1">
        <%= radio_button_tag "death_location_radio", nil, false,
              id: "searchLocation", required: true,
              class: "form-check-input location-search" %>
        <label class="form-check-label" for="searchLocation">
          <%= @resource.class.human_attribute_name(:location_search) %>
        </label>
      </div>
      <div class="map-container mt-2" id='<%= SecureRandom.uuid %>'>
      </div>
      <div class="form-check mb-1">
        <%= radio_button_tag "death_location_radio", nil, @resource.death_location_id.nil?,
              class: "form-check-input", required: true, id: "nullDeathLocation" %>
        <label class="form-check-label" for="nullDeathLocation">
          <%= @resource.class.human_attribute_name(:location_null) %>
        </label>
      </div>
    </div>
    <div class="border-bottom pb-2 mb-2">
      <%= @resource.class.human_attribute_name(:tags) %>
    </div>
    <div class="form-group">
      <%= hidden_field_tag "person[tag_ids][]" %>
      <% checked_class = "btn-info" %>
      <% unchecked_class = "btn-outline-info" %>
      <% if can? :list, PersonTag %>
        <% PersonTag.all.each do |tag| %>
          <% input_id = "person_tag_ids_#{tag.id}" %>
          <% checked = @resource.tag_ids.include?(tag.id) %>
          <label for="<%= input_id %>"
                 class="checkbox btn <%= checked ? checked_class : unchecked_class %> btn-sm"
                 data-checked-class="<%= checked_class %>"
                 data-unchecked-class="<%= unchecked_class %>">
            <%= check_box_tag "person[tag_ids][]", tag.id, checked, id: input_id %>
            <%= tag.name %>
          </label>
        <% end %>
      <% end %>
    </div>
    <div class="border-bottom pb-2 mb-2">
      <%= @resource.class.human_attribute_name(:nationalities) %>
    </div>
    <div class="nationalities-list">
      <%= hidden_field_tag "person[nationalities][]" %>
      <div class="form-group nationality-template">
        <%= select_tag "person[nationalities][]", options_for_select([nil] + countries_options, nil),
              class: "form-control form-control-sm d-inline mr-2", required: true, disabled: true %>
        <a href="#" class="btn btn-outline-dark btn-sm">
          <%= x class: "svg", width: "12px", height: "12px" %>
        </a>
      </div>
      <% @resource.nationalities.sort_by(&display_country_proc).each do |alpha2| %>
        <div class="form-group">
          <%= select_tag "person[nationalities][]", options_for_select([nil] + countries_options, alpha2),
                class: "form-control form-control-sm d-inline mr-2", required: true %>
          <a href="#" class="btn btn-outline-dark btn-sm">
            <%= x class: "svg", width: "12px", height: "12px" %>
          </a>
        </div>
      <% end %>
      <a id="add-nationality" href="#" class="btn btn-outline-dark btn-sm">
        <%= plus class: "svg", width: "12px", height: "12px" %>
      </a>
    </div>
  </div>
  <div class="modal-footer">
    <%= submit_tag t("observatorio.save"), class: "btn btn-primary btn-sm" %>
    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
      <%= t("observatorio.cancel") %>
    </button>
  </div>
<% end %>
