<% title display_name(@resource) %>

<div id="person-<%= @resource.id %>" class="show people">
  <%=
    render partial: "modal_form", locals: {
      url: edit_person_path(@resource),
      modal_id: "edit-person-#{@resource.id}",
      modal_title: @resource.class.human_attribute_name(:edit)
    }
  %>
  <%=
    render partial: "modal_form", locals: {
      url: new_name_path(
        name: {
          main: false,
          nameable_id: @resource.id,
          nameable_type: @resource.class
        }
      ),
      modal_id: "new-alternative-name",
      modal_title: Name.human_attribute_name(:new_record)
    }
  %>
  <%=
    render partial: "confirm_delete", locals: {
      record: @resource,
      confirm_message: @resource.class.human_attribute_name(
        :destroy_confirm, record: tag.strong(display_name(@resource))
      ).html_safe,
      modal_id: "destroy-person-#{@resource.id}",
      modal_title: @resource.class.human_attribute_name(:destroy)
    }
  %>
  <!-- Locations modals -->
  <% if @resource.birth_location %>
    <%=
      render partial: "modal_map", locals:  {
        modal_id: "birth-location-modal",
        data_location_path: location_path(@resource.birth_location_id)
      }
    %>
  <% end %>
  <% if @resource.death_location %>
    <%=
      render partial: "modal_map", locals:  {
        modal_id: "death-location-modal",
        data_location_path: location_path(@resource.death_location_id)
      }
    %>
  <% end %>
  <!-- General information -->
  <div class="p-3 my-3 bg-white border-gray border rounded general-infos">
    <div class="text-right p-2 d-none d-md-block">
      <% if can? :update, @resource %>
        <a href='#edit-person-<%= @resource.id %>' class='action has-tooltip mx-3' data-toggle="modal"
           data-placement="top" title="<%= @resource.class.human_attribute_name(:edit) %>">
          <%= pencil class: "svg svg-primary", width: "24px", height: "24px" %>
        </a>
      <% end %>
      <% if can? :delete, @resource %>
        <a href="#<%= "destroy-person-#{@resource.id}"  %>" class="action has-tooltip mx-1" data-toggle="modal"
           data-placement="top" title="<%= @resource.class.human_attribute_name(:destroy) %>">
          <%= x class: "svg svg-danger", width: "24px", height: "24px" %>
        </a>
      <% end %>
    </div>
    <div id="picture-container">
      <div class="refreshable mb-2 picture"
           data-refresh="<%=
             pictures_path(
               picture: {
                 picturable_id: @resource.id,
                 picturable_type: @resource.class
               }
             )
           %>">
        <div class="loading loading-picture text-center" style="display: none">
          <div class="spinner-border" role="status">
            <span class="sr-only"><%= t("observatorio.loading") %></span>
          </div>
        </div>
      </div>
    </div>
    <div  class="names-container" style="min-width: 22px">
      <h2 class="text-center">
        <%= display_name(@resource) %>
      </h2>
      <div class="my-2 text-center">
        <span class="ml-auto mr-auto mb-1">
          <strong>
            <%= @resource.class.human_attribute_name(:alternative_names) %>:
          </strong>
          <% if can?(:update, @resource)  %>
            <a href='#new-alternative-name'
               class='action has-tooltip mx-1'
               data-toggle="modal"
               data-placement="top"
               title="<%= Name.human_attribute_name(:new_record) %>">
              <%= image_tag image_path("open-iconic/plus.svg") %>
            </a>
          <% end %>
        </span>
      </div>
      <div class="refreshable my-2"
           style="min-height: 25px"
           data-refresh="<%=
             names_path(
               name: {
                 main: false,
                 nameable_id: @resource.id,
                 nameable_type: @resource.class
               }
             )
           %>">
        <div class="loading text-center" style="display: none">
          <div class="spinner-border spinner-name" role="status">
            <span class="sr-only">
              <%= t("observatorio.loading") %>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="my-2 text-center">
      <% if @resource.date_of_birth %>
        <div>
          <strong><%= @resource.class.human_attribute_name(:date_of_birth) %>:</strong>
          <%= display_time(@resource.date_of_birth) %>
          <% if @resource.approximate_dates %>
            <strong>*</strong>
          <% end %>
        </div>
      <% end %>
      <% if @resource.birth_location %>
        <div>
          <strong><%= @resource.class.human_attribute_name(:birth_location) %>:</strong>
          <%= link_to display_name(@resource.birth_location), "#birth-location-modal", :"data-toggle" => "modal" %>
        </div>
      <% end %>
      <% if @resource.date_of_death %>
        <div>
          <strong><%= @resource.class.human_attribute_name(:date_of_death) %>:</strong>
          <%= display_time(@resource.date_of_death) %>
          <% if @resource.approximate_dates %>
            <strong>*</strong>
          <% end %>
        </div>
      <% end %>
      <% if @resource.death_location %>
        <div>
          <strong><%= @resource.class.human_attribute_name(:death_location) %>:</strong>
          <%= link_to display_name(@resource.death_location), "#death-location-modal", :"data-toggle" => "modal" %>
        </div>
      <% end %>
      <% if @resource.approximate_dates %>
        <strong class="small">* <%= @resource.class.human_attribute_name(:approximate_dates_label) %></strong>
      <% end %>
      <% unless @resource.nationalities.empty? %>
        <strong><%= @resource.class.human_attribute_name(:nationalities) %>:</strong>
        <% @resource.nationalities.sort_by(&display_country_proc).each do |alpha2| %>
          <%= display_country(alpha2) %>
        <% end %>
      <% end %>
    </div>
    <% unless @resource.tags.empty? %>
      <div class="my-2 text-center">
        <% @resource.tags.each do |tag| %>
          <h5 class="d-inline-block">
            <a href='<%= tag_url(tag) %>'>
              <span class="badge badge-pill badge-info">
                <%= tag.name %>
              </span>
            </a>
          </h5>
        <% end %>
      </div>
    <% end %>
    <div class="small text-muted text-center">
      <%= @resource.class.human_attribute_name(:created_at) %>:
      <%= display_time(@resource.created_at) %>
    </div>
    <div class="small text-muted text-center">
      <%= @resource.class.human_attribute_name(:updated_at) %>:
      <%= display_time(@resource.updated_at) %>
    </div>
  </div>

  <!-- Biography -->
  <%=
    render partial: "modal_form", locals: {
      url: biography_edit_person_path(@resource),
      modal_id: "edit-biography",
      modal_title: @resource.class.human_attribute_name(:edit_biography)
    }
  %>
  <%=
    render partial: "subsection", locals: {
      subsection_title: @resource.class.human_attribute_name(:biography),
      subsection_id: "biography-subsection",
      subsection_class: "biography",
      action_icon: pencil(class: "svg svg-primary", width: "16px", height: "16px"),
      resource: @resource,
      new_resource_modal_id: "edit-biography",
      new_resource_title: @resource.class.human_attribute_name(:edit_biography),
      refresh_element_url: biography_person_path(@resource)
    }
  %>

  <!-- Links -->
  <%=
    render partial: "modal_form", locals: {
      url: new_link_path(link: {
        linkable_id: @resource.id, linkable_type: @resource.class
      }),
      modal_id: "new-link",
      modal_title: @resource.class.human_attribute_name(:new_link)
    }
  %>
  <%=
    render partial: "subsection", locals: {
      action_icon: plus(class: "svg svg-primary", width: "16px", height: "16px"),
      subsection_title: @resource.class.human_attribute_name(:links),
      subsection_id: "links-subsection",
      subsection_class: "links",
      resource: @resource,
      new_resource_modal_id: "new-link",
      new_resource_title: @resource.class.human_attribute_name(:new_link),
      refresh_element_url: links_path(link: {
        linkable_id: @resource.id, linkable_type: @resource.class
      })
    }
  %>

  <!-- Attachments -->
  <%=
    render partial: "modal_form", locals: {
      url: new_attachment_path(attachment: {
        attachable_id: @resource.id, attachable_type: @resource.class
      }),
      modal_id: "new-attachment",
      modal_title: @resource.class.human_attribute_name(:new_attachment)
    }
  %>
  <%=
    render partial: "subsection", locals: {
      action_icon: plus(class: "svg svg-primary", width: "16px", height: "16px"),
      subsection_title: @resource.class.human_attribute_name(:attachments),
      subsection_id: "attachments-subsection",
      subsection_class: "attachments",
      resource: @resource,
      new_resource_modal_id: "new-attachment",
      new_resource_title: @resource.class.human_attribute_name(:new_attachment),
      refresh_element_url: attachments_path(attachment: {
        attachable_id: @resource.id, attachable_type: @resource.class
      })
    }
  %>

  <!-- Relationships -->
  <%=
    render partial: "modal_form", locals: {
      url: new_relationship_path(relationship: { owner_id: @resource.id }),
      modal_id: "new-relationship",
      modal_title: @resource.class.human_attribute_name(:new_relationship)
    }
  %>
  <%=
    render partial: "subsection", locals: {
      action_icon: plus(class: "svg svg-primary", width: "16px", height: "16px"),
      subsection_title: @resource.class.human_attribute_name(:relationships),
      subsection_id: "relationships-subsection",
      subsection_class: "relationships",
      resource: @resource,
      new_resource_modal_id: "new-relationship",
      new_resource_title: @resource.class.human_attribute_name(:new_relationship),
      refresh_element_url: relationships_path(
        relationship: {
          owner_id: @resource.id
        },
        origin: {
          id: @resource.id,
          controller: @resource.class.name.pluralize.underscore
        }
      )
    }
  %>

  <!-- Educations -->
  <%=
    render partial: "modal_form", locals: {
      url: new_education_path(education: { student_id: @resource.id }),
      modal_id: "new-education",
      modal_title: @resource.class.human_attribute_name(:new_education)
    }
  %>
  <%=
    render partial: "subsection", locals: {
      action_icon: plus(class: "svg svg-primary", width: "16px", height: "16px"),
      subsection_title: @resource.class.human_attribute_name(:educations),
      subsection_id: "educations-subsection",
      subsection_class: "educations",
      resource: @resource,
      new_resource_modal_id: "new-education",
      new_resource_title: @resource.class.human_attribute_name(:new_education),
      refresh_element_url: educations_path(
        education: { student_id: @resource.id },
        origin: {
          id: @resource.id,
          controller: @resource.class.name.pluralize.underscore
        }
      )
    }
  %>

  <!-- Memberships -->
  <%=
    render partial: "modal_form", locals: {
      url: new_organization_member_path(
        organization_member: { member_id: @resource.id }
      ),
      modal_id: "new-organization-member",
      modal_title: @resource.class.human_attribute_name(:new_organization_member)
    }
  %>
  <%=
    render partial: "subsection", locals: {
      action_icon: plus(class: "svg svg-primary", width: "16px", height: "16px"),
      subsection_title: @resource.class.human_attribute_name(:organizations_member),
      subsection_id: "organization_members-subsection",
      subsection_class: "organization_members",
      resource: @resource,
      new_resource_modal_id: "new-organization-member",
      new_resource_title: @resource.class.human_attribute_name(:new_organization_member),
      refresh_element_url: organization_members_path(
        organization_member: { member_id: @resource.id },
        origin: {
          id: @resource.id,
          controller: @resource.class.name.pluralize.underscore
        }
      )
    }
  %>

  <!-- Ownerships -->
  <%=
    render partial: "modal_form", locals: {
      url: new_organization_owner_path(
        organization_owner: {
          owner_id: @resource.id ,
          owner_type: @resource.class
        }
      ),
      modal_id: "new-organization-owner",
      modal_title: @resource.class.human_attribute_name(:new_organization_owner)
    }
  %>
  <%=
    render partial: "subsection", locals: {
      action_icon: plus(class: "svg svg-primary", width: "16px", height: "16px"),
      subsection_title: @resource.class.human_attribute_name(:organizations_owner),
      subsection_id: "organization_owners-subsection",
      subsection_class: "organization_owners",
      resource: @resource,
      new_resource_modal_id: "new-organization-owner",
      new_resource_title: @resource.class.human_attribute_name(:new_organization_owner),
      refresh_element_url: organization_owners_path(
        organization_owner: {
          owner_id: @resource.id,
          owner_type: @resource.class
        },
        origin: {
          id: @resource.id,
          controller: @resource.class.name.pluralize.underscore
        }
      )
    }
  %>

  <!-- Events -->
  <%=
    render partial: "modal_form", locals: {
      url: new_event_participant_path(
        event_participant: {
          participant_id: @resource.id,
          participant_type: @resource.class
        }
      ),
      modal_id: "new-event-participant",
      modal_title: @resource.class.human_attribute_name(:new_event_participant)
    }
  %>
  <%=
    render partial: "subsection", locals: {
      action_icon: plus(class: "svg svg-primary", width: "16px", height: "16px"),
      subsection_title: @resource.class.human_attribute_name(:events_participant),
      subsection_id: "event_participants-subsection",
      subsection_class: "event_participants",
      resource: @resource,
      new_resource_modal_id: "new-event-participant",
      new_resource_title: @resource.class.human_attribute_name(:new_event_participant),
      refresh_element_url: event_participants_path(
        event_participant: {
          participant_id: @resource.id,
          participant_type: @resource.class
        },
        origin: {
          id: @resource.id,
          controller: @resource.class.name.pluralize.underscore
        }
      )
    }
  %>

  <!-- Notes -->
  <%=
    render partial: "modal_form", locals: {
      url: new_note_path({
        note: {
          subject_id: @resource.id,
          subject_type: @resource.class
        }
      }),
      modal_id: "new-note",
      modal_title: @resource.class.human_attribute_name(:new_note)
    }
  %>
  <%=
    render partial: "subsection", locals: {
      subsection_title: @resource.class.human_attribute_name(:notes),
      subsection_id: "notes-subsection",
      subsection_class: "notes",
      action_icon: plus(class: "svg svg-primary", width: "16px", height: "16px"),
      resource: @resource,
      new_resource_modal_id: "new-note",
      new_resource_title: @resource.class.human_attribute_name(:new_note),
      refresh_element_url: notes_path(
        note: {
          subject_id: @resource.id,
          subject_type: @resource.class
        }
      )
    }
  %>

  <!-- History -->
  <%=
    render partial: "subsection", locals: {
      subsection_title: @resource.class.human_attribute_name(:history),
      subsection_id: "history-subsection",
      subsection_class: "history",
      resource: @resource,
      refresh_element_url: history_person_path(@resource)
    }
  %>
</div>
