<div class="modal fade" id="import-details-modal" tabindex="-1"
     role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header py-1">
        <h5 class="modal-title" id="deleteModalTitle">
          Descrição das colunas
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <%= image_tag image_path("open-iconic/x.svg") %>
        </button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <strong class="pb-1 d-block">PERSON_FIRST_NAME</strong>
          O nome da pessoa
          <br/>
          <div class="small">a pessoa será criada se não existir no banco de dados</div>
        </div>
        <div class="mb-3">
          <strong class="pb-1 d-block">PERSON_LAST_NAME</strong>
          O sobrenome da pessoa
          <br/>
          <div class="small">a pessoa será criada se não existir no banco de dados</div>
        </div>
        <div class="mb-3">
          <strong class="pb-1 d-block">PERSON_DATE_OF_BIRTH (opcional)</strong>
          Data de nascimento da pessoa
          <br/>
          <div class="small">as células devem estar formatadas como data no documento</div>
        </div>
        <div class="mb-3">
          <strong class="pb-1 d-block">PERSON_DATE_OF_DEATH (opcional)</strong>
          Data de falecimento da pessoa
          <br/>
          <div class="small">as células devem estar formatadas como data no documento</div>
        </div>
        <div class="mb-3">
          <strong class="pb-1 d-block">PERSON_APPROXIMATE_DATES (opcional)</strong>
          Se a célula não estiver em branco, significa que as datas de nascimento e falecimento da pessoa são aproximadas
        </div>
        <div class="mb-3">
          <strong class="pb-1 d-block">PERSON_TAG (opcional / é permitido haver mais de uma por linha)</strong>
          Etiqueta que será atribuída à pessoa
          <br/>
          <div class="small">deve existir no banco de dados</div>
        </div>
        <div class="mb-3">
          <strong class="pb-1 d-block">ORGANIZATION_NAME</strong>
          O nome da organização
          <br/>
          <div class="small">deve existir no banco de dados</div>
        </div>
        <div class="mb-3">
          <strong class="pb-1 d-block">MEMBERSHIP_POSITION (opcional)</strong>
          Cargo no qual a pessoa está filiada à organização
          <br/>
          <div class="small">deve existir no banco de dados</div>
        </div>
        <div class="mb-3">
          <strong class="pb-1 d-block">MEMBERSHIP_FROM_DATE (opcional)</strong>
          Data de início da filiação
          <br/>
          <div class="small">as células devem estar formatadas como data no documento</div>
        </div>
        <div class="mb-3">
          <strong class="pb-1 d-block">MEMBERSHIP_TO_DATE (opcional)</strong>
          Data de fim da filiação
          <br/>
          <div class="small">as células devem estar formatadas como data no documento</div>
        </div>
        <div class="mb-3">
          <strong class="pb-1 d-block">MEMBERSHIP_APPROXIMATE_DATES (opcional)</strong>
          Se a célula não estiver em branco, significa que as datas de início e fim da filiação são aproximadas
        </div>
        <div class="mb-3">
          <strong class="pb-1 d-block">MEMBERSHIP_LOCATION_HEADQUARTERS (opcional)</strong>
          Se a célula não estiver em branco, significa que a localização da filiação é a sede da organização
        </div>
        <div class="mb-3">
          <strong class="pb-1 d-block">MEMBERSHIP_SOURCE_URL (opcional)</strong>
          URL da fonte da informação
          <br/>
          <div class="small">deve começar com http:// ou https://</div>
        </div>
        <div class="mb-3">
          <strong class="pb-1 d-block">MEMBERSHIP_SOURCE_LABEL (opcional)</strong>
          Título da fonte da informação
        </div>
      </div>
    </div>
  </div>
</div>
