<% title Import.model_name.human(count: 2) %>

<div id="index-imports" class="index imports">
  <%= render partial: "import_details_#{I18n.locale}" %>
  <div class="p-3 my-3 bg-white border-gray border rounded">
    <h5 class="pb-2">
      <%= t("observatorio.import.title") %>
      <span class="small">(<%= link_to t("observatorio.import.download_template"), asset_path("import_memberships_template.ods") %>)</span>
      <a href="#import-details-modal" class="has-tooltip rounded-circle btn btn-outline-info d-inline-block line-height-1 p-1 ml-1"
                  data-placement="top" data-toggle="modal" title="<%= Import.human_attribute_name(:see_details) %>" >
        <%= info class: "svg svg-info pict-info d-inline-block", width: "12.8px", height: "12.8px" %>
      </a>
    </h5>
    <%= form_tag(imports_memberships_path, method: :post, multipart: true) do %>
      <%= file_field_tag "import[file_unencrypted]", class: "form-control form-control-sm", required: true %>
      <div class="text-right mt-3">
        <%= submit_tag t("observatorio.import.submit"), class: "btn btn-primary btn-sm" %>
      </div>
    <% end %>
  </div>

  <div class="p-3 p-md-3 my-3 bg-white border-gray border rounded">
    <% @resources.each do |import| %>
      <div class="media search-result mb-2">
        <% if can? :read, import %>
          <a href='<%= imports_membership_path(import.id) %>'>
        <% end %>
        <% case import.status %>
        <% when "pending" %>
          <div class="btn btn-outline-secondary thumb rounded-circle has-tooltip" style="padding-top: 12px"
               data-placement="top" title='<%= t("observatorio.status.#{import.status}") %>'>
            <%= ellipses class: "svg svg-secondary", width: "15px", height: "15px" %>
          </div>
        <% when "processing" %>
          <div class="btn btn-outline-info thumb rounded-circle has-tooltip" style="padding-top: 12px"
               data-placement="top" title='<%= t("observatorio.status.#{import.status}") %>'>
            <%= ellipses class: "svg svg-info", width: "15px", height: "15px" %>
          </div>
        <% when "success" %>
          <div class="btn btn-outline-success thumb rounded-circle has-tooltip" style="padding-top: 12px"
               data-placement="top" title='<%= t("observatorio.status.#{import.status}") %>'>
            <%= check class: "svg svg-success", width: "15px", height: "15px" %>
          </div>
        <% when "error" %>
          <div class="btn btn-outline-danger thumb rounded-circle has-tooltip" style="padding-top: 12px"
               data-placement="top" title='<%= t("observatorio.status.#{import.status}") %>'>
            <%= x class: "svg svg-danger", width: "15px", height: "15px" %>
          </div>
        <% end %>
        <p class="media-body ml-md-3 mb-0 pb-2 pb-md-0">
          <strong>
            <% if can? :read, import %>
              <%= link_to display_name(import), imports_membership_path(import.id) %>
            <% else %>
              <%= display_name(import) %>
            <% end %>
          </strong>
        </p>
      </div>
    <% end %>
    <nav class="mt-3">
      <ul class="pagination pagination-sm mb-0">
        <li class="page-item ml-auto <%= "disabled" if @page == 1 %>">
          <a class="page-link" href="<%= @page == 1 ? "#" : imports_path(query: @query, page: @page - 1) %>">
            <%= Import.human_attribute_name(:previous_page) %>
          </a>
        </li>
        <li class="page-item <%= "disabled" if @last_page %>">
          <a class="page-link" href="<%= @last_page ? "#" : imports_path(query: @query, page: @page + 1) %>">
            <%= Import.human_attribute_name(:next_page) %>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
