<div class="refreshable my-2 refreshable-hide"
     data-refresh="<%= request.original_fullpath %>">
  <div class="loading text-center" style="display: none">
    <div class="spinner-border spinner-name" role="status">
      <span class="sr-only"><%= t("observatorio.loading") %></span>
    </div>
  </div>
  <div class="content">
    <% @resources.each do |name| %>
      <%=
        render partial: "modal_form", locals: {
          url: edit_name_path(name.id),
          modal_id: "edit-name-#{name.id}",
          modal_title: Name.human_attribute_name(:edit)
        }
      %>
      <%=
        render partial: "confirm_delete", locals: {
          record: name,
          confirm_message: Name.human_attribute_name(
            :destroy_confirm, record: tag.strong(name.value)
          ).html_safe,
          modal_id: "destroy-name-#{name.id}",
          modal_title: Name.human_attribute_name(:destroy)
        }
      %>
      <div class="text-center">
        <span>
          <%= name.value %>
          <% if can? :update, name %>
            <a href="#edit-name-<%= name.id %>"
               class="ml-1 action has-tooltip"
               data-toggle="modal"
               data-placement="top"
               title="<%= Name.human_attribute_name(:edit) %>">
              <%= image_tag image_path("open-iconic/pencil.svg") %>
            </a>
          <% end %>
          <% if can? :delete, name %>
            <a href="#destroy-name-<%= name.id %>"
               class="action has-tooltip"
               data-toggle="modal"
               data-placement="top"
               title="<%= Name.human_attribute_name(:destroy) %>">
              <%= image_tag image_path("open-iconic/x.svg") %>
            </a>
          <% end %>
        </span>
      </div>
    <% end %>
  </div>
</div>
