<div id="relationship-<%= relationship.id %>">
  <div class="refreshable"
       data-refresh="<%= relationship_path(relationship, origin: origin_params) %>">
    <div class="text-center loading position-absolute pl-5 pt-2" \
         style="display: none">
      <div class="spinner-border" role="status">
        <span class="sr-only"><%= t("observatorio.loading") %></span>
      </div>
    </div>
    <div class="content">
      <%=
        render partial: "modal_form", locals: {
          url: edit_relationship_path(relationship),
          modal_id: "edit-relationship-#{relationship.id}",
          modal_title: Relationship.human_attribute_name(:edit)
        }
      %>
      <%=
        render partial: "confirm_delete", locals: {
          record: relationship,
          confirm_message: Relationship.human_attribute_name(
            :destroy_confirm, with: tag.strong(display_name(relationship.with))
          ).html_safe,
          modal_id: "destroy-relationship-#{relationship.id}",
          modal_title: Relationship.human_attribute_name(:destroy)
        }
      %>
      <%=
        render partial: "modal_form", locals: {
          url: new_link_path(link: {
            linkable_id: relationship.id, linkable_type: Relationship
          }),
          modal_id: "add-source-#{relationship.id}",
          modal_title: Relationship.human_attribute_name(:new_source)
        }
      %>
      <%=
        render partial: "modal_form", locals: {
          url: new_attachment_path(attachment: {
            attachable_id: relationship.id, attachable_type: Relationship
          }),
          modal_id: "add-attachment-#{relationship.id}",
          modal_title: Relationship.human_attribute_name(:new_attachment)
        }
      %>
      <% relationship.sources.each do |link| %>
        <%=
          render partial: "modal_form", locals: {
            url: edit_link_path(link),
            modal_id: "edit-link-#{link.id}",
            modal_title: Link.human_attribute_name(:edit)
          }
        %>
        <%=
          render partial: "confirm_delete", locals: {
            record: link,
            confirm_message: Link.human_attribute_name(
              :destroy_confirm, record: tag.strong(display_name(link))
            ).html_safe,
            modal_id: "destroy-link-#{link.id}",
            modal_title: Link.human_attribute_name(:destroy)
          }
        %>
      <% end %>
      <% relationship.attachments.each do |attachment| %>
        <%=
          render partial: "modal_form", locals: {
            url: edit_attachment_path(attachment),
            modal_id: "edit-attachment-#{attachment.id}",
            modal_title: Attachment.human_attribute_name(:edit)
          }
        %>
        <%=
          render partial: "confirm_delete", locals: {
            record: attachment,
            confirm_message: Attachment.human_attribute_name(
              :destroy_confirm, record: tag.strong(display_name(attachment))
            ).html_safe,
            modal_id: "destroy-attachment-#{attachment.id}",
            modal_title: Attachment.human_attribute_name(:destroy)
          }
        %>
      <% end %>
      <div class="media item">
        <div class="d-none d-md-inline mr-2">
          <%= image_tag relationship.with.picture&.thumb&.url || image_path("open-iconic/person.svg"),
                class:"rounded-circle thumb main" %>
        </div>
        <div class="media-body mb-0 pb-2">
          <div class="d-inline-block">
            <span class="float-left mr-2">
              <strong class="mb-2 mb-md-0">
                <%= display_resource(relationship.with) %>
              </strong>
            </span>
            <div class="d-none d-md-inline-block">
              <% if can? :update, relationship %>
                <a href="#edit-relationship-<%= relationship.id %>"
                   class="action has-tooltip"
                   data-toggle="modal"
                   data-placement="top"
                   title="<%= Relationship.human_attribute_name(:edit) %>">
                  <%= image_tag image_path("open-iconic/pencil.svg") %>
                </a>
              <% end %>
              <% if can? :delete, relationship %>
                <a href="#destroy-relationship-<%= relationship.id %>"
                   class="action has-tooltip"
                   data-toggle="modal"
                   data-placement="top"
                   title="<%= Relationship.human_attribute_name(:destroy) %>">
                  <%= image_tag image_path("open-iconic/x.svg") %>
                </a>
              <% end %>
            </div>
          </div>
          <span class="small d-block">
            <%= Relationship.human_attribute_name(:"degree_#{relationship.degree}") %>
          </span>
          <% if relationship.from_date %>
            <span class="small d-block">
              <strong><%= Relationship.human_attribute_name(:from_date) %>:</strong>
              <%= display_time(relationship.from_date) %>
              <% if relationship.approximate_dates %>
                <strong>*</strong>
              <% end %>
            </span>
          <% end %>
          <% if relationship.from_date || relationship.to_date %>
            <span class="small d-block">
              <strong><%= Relationship.human_attribute_name(:to_date) %>:</strong>
              <% if relationship.to_date %>
                <%= display_time(relationship.to_date) %>
                <% if relationship.approximate_dates %>
                  <strong>*</strong>
                <% end %>
              <% else %>
                -
              <% end %>
            </span>
          <% end %>
          <% if relationship.approximate_dates %>
            <strong class="small">* <%= Relationship.human_attribute_name(:approximate_dates_label) %></strong>
          <% end %>
          <span class="small d-block">
            <strong class="mr-1">
              <%= Relationship.human_attribute_name(:sources) %>:
            </strong>
            <div class="d-none d-md-inline-block">
              <% if can? :update, relationship %>
                <a href="#add-source-<%= relationship.id %>"
                   class="action has-tooltip"
                   data-toggle="modal"
                   data-placement="top"
                   title="<%= Relationship.human_attribute_name(:new_source) %>">
                  <%= image_tag image_path("open-iconic/plus.svg") %>
                </a>
              <% end %>
            </div>
          </span>
          <% relationship.sources.each do |link| %>
            <div class="small d-block">
              <span class="float-left mr-2">
                <strong class="ml-3 mr-1 float-left">
                  <%= link_to(link.label, link_path(link, origin: origin_params)) %>
                </strong>
                <div class="small d-inline-block text-truncate float-left has-tooltip"
                     title="<%= link.url %>"
                     style="max-width: 150px; padding-top: 3px">
                  <%= link.url %>
                </div>
              </span>
              <div class="d-none d-md-inline-block">
                <% if can? :update, link %>
                  <a href="#edit-link-<%= link.id %>"
                     class="action has-tooltip"
                     data-toggle="modal"
                     data-placement="top"
                     title="<%= Link.human_attribute_name(:edit) %>">
                    <%= image_tag image_path("open-iconic/pencil.svg") %>
                  </a>
                <% end %>
                <% if can? :delete, link %>
                  <a href="#destroy-link-<%= link.id %>"
                     class="action has-tooltip"
                     data-toggle="modal"
                     data-placement="top"
                     title="<%= Link.human_attribute_name(:destroy) %>">
                    <%= image_tag image_path("open-iconic/x.svg") %>
                  </a>
                <% end %>
              </div>
            </div>
          <% end %>
          <span class="small d-block">
            <strong class="mr-1">
              <%= Relationship.human_attribute_name(:attachments) %>:
            </strong>
            <div class="d-none d-md-inline-block">
              <% if can? :update, relationship %>
                <a href="#add-attachment-<%= relationship.id %>"
                   class="action has-tooltip"
                   data-toggle="modal"
                   data-placement="top"
                   title="<%= Relationship.human_attribute_name(:new_attachment) %>">
                  <%= image_tag image_path("open-iconic/plus.svg") %>
                </a>
              <% end %>
            </div>
          </span>
          <% relationship.attachments.each do |attachment| %>
            <div class="small d-block">
              <span class="mr-1">
                <strong class="ml-3">
                  <%= link_to attachment.label, attachment_path(attachment, origin: origin_params) %>
                </strong>
                <span><%= attachment.file_extension %></span>
                <span class="small">(<%= number_to_human_size(attachment.file_size) %>)</span>
              </span>
              <div class="d-none d-md-inline-block">
                <% if can? :update, attachment %>
                  <a href="#edit-attachment-<%= attachment.id %>"
                     class="action has-tooltip"
                     data-toggle="modal"
                     data-placement="top"
                     title="<%= Attachment.human_attribute_name(:edit) %>">
                    <%= image_tag image_path("open-iconic/pencil.svg") %>
                  </a>
                <% end %>
                <% if can? :delete, attachment %>
                  <a href="#destroy-attachment-<%= attachment.id %>"
                     class="action has-tooltip"
                     data-toggle="modal"
                     data-placement="top"
                     title="<%= Attachment.human_attribute_name(:destroy) %>">
                    <%= image_tag image_path("open-iconic/x.svg") %>
                  </a>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
