<% title t("devise.passwords.edit.change_your_password") %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "form-devise" }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>
  <div class="form-group">
    <% password_error = resource.errors[:password] && resource.errors[:password].first %>
    <%= password_field_tag "user[password]", resource.password,
          class: "form-control #{"is-invalid" if password_error}",
          autocomplete: "off", required: true,
          placeholder: resource.class.human_attribute_name(:new_password)%>
    <% if password_error %>
      <div class="invalid-feedback">
        <%= password_error %>
      </div>
    <% end %>
  </div>
  <div class="form-group">
    <% password_confirmation_error = resource.errors[:password_confirmation] && resource.errors[:password_confirmation].first %>
    <%= password_field_tag "user[password_confirmation]", resource.password_confirmation,
          class: "form-control #{"is-invalid" if password_confirmation_error}",
          autocomplete: "off", required: true,
          placeholder: resource.class.human_attribute_name(:new_password_confirmation)%>
    <% if password_confirmation_error %>
      <div class="invalid-feedback">
        <%= password_confirmation_error %>
      </div>
    <% end %>
  </div>
  <div class="control-group">
    <%= f.submit t('devise.passwords.edit.change_your_password'), class: "btn btn-lg btn-primary btn-block" %>
  </div>
  <%= render "devise/shared/links" %>
<% end %>
