<div class="modal-body">
  <%= t("observatorio.models.attachment.destroyed",
        attachment: tag.strong(display_name(@resource))).html_safe %>
</div>
<div class="modal-footer">
  <% if origin_params.present? %>
    <%= link_to t("observatorio.dialog.ok"),
          url_for(origin_params),
          class: "btn btn-primary btn-sm" %>
  <% else %>
    <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">
      <%= t("observatorio.dialog.ok") %>
    </button>
  <% end %>
</div>

<%= hidden_field_tag :refresh_element, refresh_element %>
<%= hidden_field_tag :refresh_element, "#history-subsection" %>
