<div class="refreshable" data-refresh="<%= request.original_fullpath %>">
  <div class="pl-4 loading" style="display: none">
    <div class="spinner-border" role="status">
      <span class="sr-only"><%= t("observatorio.loading") %></span>
    </div>
  </div>
  <div class="content">
    <% @resources.each do |attachment| %>
      <%=
        render partial: "modal_form", locals: {
          url: edit_attachment_path(attachment),
          modal_id: "edit-attachment-#{attachment.id}",
          modal_title: Attachment.human_attribute_name(:edit)
        }
      %>
      <%=
        render partial: "confirm_delete", locals: {
          record: attachment,
          confirm_message: Attachment.human_attribute_name(
            :destroy_confirm, record: tag.strong(display_name(attachment))
          ).html_safe,
          modal_id: "destroy-attachment-#{attachment.id}",
          modal_title: Attachment.human_attribute_name(:destroy)
        }
      %>
      <div class="media item">
        <div>
          <%= image_tag image_path("open-iconic/paperclip.svg"),
                class:"pl-1 d-none d-md-inline thumb attachment-thumb" %>
        </div>
        <div class="media-body ml-md-2 mb-0 main">
          <div class="main">
            <span class="float-left mr-2">
              <strong class="mb-2 mb-md-0">
                <%=
                  link_to attachment.label, attachment_path(attachment, origin: {
                    id: attachment.attachable_id,
                    controller: attachment.attachable_type.pluralize.underscore
                  })
                %>
              </strong>
              <span><%= attachment.file_extension %></span>
              <span class="small">(<%= number_to_human_size(attachment.file_size) %>)</span>
            </span>
            <div class="d-none d-md-block">
              <% if can? :update, attachment %>
                <a href="#edit-attachment-<%= attachment.id %>"
                   class="action has-tooltip"
                   data-toggle="modal"
                   data-placement="top"
                   title="<%= Attachment.human_attribute_name(:edit) %>">
                  <%= image_tag image_path("open-iconic/pencil.svg") %>
                </a>
              <% end %>
              <% if can? :delete, attachment %>
                <a href="#destroy-attachment-<%= attachment.id %>"
                   class="action has-tooltip"
                   data-toggle="modal"
                   data-placement="top"
                   title="<%= Attachment.human_attribute_name(:destroy) %>">
                  <%= image_tag image_path("open-iconic/x.svg") %>
                </a>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
