<div class="modal-body">
  <%= t("observatorio.models.attachment.updated").html_safe %>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">
    <%= t("observatorio.dialog.ok") %>
  </button>
</div>

<%= hidden_field_tag :refresh_element, refresh_element %>
<%= hidden_field_tag :refresh_element, "#history-subsection" %>
