<div class="modal-body">
  <%= t("observatorio.models.education_course.created",
        course: tag.strong(display_name(@resource))).html_safe %>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">
    <%= t("observatorio.dialog.ok") %>
  </button>
</div>
