<% title EducationCourse.model_name.human(count: 2) %>

<div id="index-education-courses" class="index education-courses">
  <div class="p-3 my-3 bg-white border-gray border rounded">
    <h5 class="pb-2">
      <%= t("observatorio.search.title") %>
    </h5>
    <%= form_tag({ controller: "education_courses", action: "index" }, method: :get) do %>
      <%= text_field_tag :search, @search, class: "form-control form-control-sm" %>
      <div class="text-right mt-3">
        <%= submit_tag t("observatorio.search.submit"), class: "btn btn-primary btn-sm" %>
        <%= link_to t("observatorio.search.clean_filters"), education_courses_path,
              class: "btn btn-secondary btn-sm" %>
      </div>
    <% end %>
  </div>

  <div class="p-3 p-md-3 my-3 bg-white border-gray border rounded">
    <% @resources.each do |course| %>
      <div class="media search-result mb-2">
        <p class="media-body ml-md-3 mb-0 pb-2 pb-md-0">
          <strong>
            <%= link_to display_name(course), url_for(course) %>
          </strong>
        </p>
      </div>
    <% end %>
    <nav class="mt-3">
      <ul class="pagination pagination-sm mb-0">
        <li class="page-item ml-auto <%= "disabled" if @page == 1 %>">
          <a class="page-link" href="<%=
               @page == 1 ? "#" : education_courses_path(search: @search, page: @page - 1)
             %>">
            <%= EducationCourse.human_attribute_name(:previous_page) %>
          </a>
        </li>
        <li class="page-item <%= "disabled" if @last_page %>">
          <a class="page-link" href="<%=
               @last_page ? "#" : education_courses_path(search: @search, page: @page + 1)
             %>">
            <%= EducationCourse.human_attribute_name(:next_page) %>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
