<% title display_name(@resource) %>

<div id="event-<%= @resource.id %>" class="show events">
  <%=
    render partial: "modal_form", locals: {
      url: edit_event_path(@resource),
      modal_id: "edit-event-#{@resource.id}",
      modal_title: @resource.class.human_attribute_name(:edit)
    }
  %>
  <%=
    render partial: "confirm_delete", locals: {
      record: @resource,
      confirm_message: @resource.class.human_attribute_name(
        :destroy_confirm, record: tag.strong(display_name(@resource))
      ).html_safe,
      modal_id: "destroy-event-#{@resource.id}",
      modal_title: @resource.class.human_attribute_name(:destroy)
    }
  %>
  <% if @resource.location %>
    <%=
      render partial: "modal_map", locals:  {
        modal_id: "location-modal",
        data_location_path: location_path(@resource.location_id)
      }
    %>
  <% end %>
  <!-- General information -->
  <div class="p-3 my-3 bg-white text-center border-gray border rounded general-infos">
    <div class="text-right p-2 d-none d-md-block">
      <% if can? :update, @resource %>
        <a href='#edit-event-<%= @resource.id %>' class='action has-tooltip mx-3' data-toggle="modal"
           data-placement="top" title="<%= @resource.class.human_attribute_name(:edit) %>">
          <%= pencil class: "svg svg-primary", width: "24px", height: "24px" %>
        </a>
      <% end %>
      <% if can? :delete, @resource %>
        <a href="#destroy-event-<%= @resource.id %>" class="action has-tooltip mx-1" data-toggle="modal"
           data-placement="top" title="<%= @resource.class.human_attribute_name(:destroy) %>">
          <%= x class: "svg svg-danger", width: "24px", height: "24px" %>
        </a>
      <% end %>
    </div>
    <h2><%= display_name(@resource) %></h2>
    <div class="my-2">
      <% if @resource.started_at %>
        <div>
          <strong><%= @resource.class.human_attribute_name(:started_at) %>:</strong>
          <%= display_time(@resource.started_at_in_time_zone) %>
          <% if @resource.approximate_dates %>
            <strong>*</strong>
          <% end %>
        </div>
      <% end %>
      <% if @resource.finished_at %>
        <div>
          <strong><%= @resource.class.human_attribute_name(:finished_at) %>:</strong>
          <%= display_time(@resource.finished_at_in_time_zone) %>
          <% if @resource.approximate_dates %>
            <strong>*</strong>
          <% end %>
        </div>
      <% end %>
      <% if @resource.time_zone %>
        <strong><%= @resource.class.human_attribute_name(:time_zone) %>:</strong>
        <%= @resource.time_zone %>
      <% end %>
      <% if @resource.approximate_dates %>
        <div>
          <strong class="small">* <%= @resource.class.human_attribute_name(:approximate_dates_label) %></strong>
        </div>
      <% end %>
      <% if @resource.location %>
        <div>
          <strong><%= @resource.class.human_attribute_name(:location) %>:</strong>
          <%= link_to display_name(@resource.location), "#location-modal", :"data-toggle" => "modal" %>
        </div>
      <% end %>
    </div>
    <% unless @resource.tags.empty? %>
      <div class="my-2">
        <% @resource.tags.each do |tag| %>
          <h5 class="d-inline-block">
            <a href='<%= tag_url(tag) %>'>
              <span class="badge badge-pill badge-info">
                <%= tag.name %>
              </span>
            </a>
          </h5>
        <% end %>
      </div>
    <% end %>
    <div class="small text-muted">
      <%= @resource.class.human_attribute_name(:created_at) %>:
      <%= display_time(@resource.created_at) %>
    </div>
    <div class="small text-muted">
      <%= @resource.class.human_attribute_name(:updated_at) %>:
      <%= display_time(@resource.updated_at) %>
    </div>
  </div>

  <!-- Description -->
  <%=
    render partial: "modal_form", locals: {
      url: description_edit_event_path(@resource),
      modal_id: "edit-description",
      modal_title: @resource.class.human_attribute_name(:edit_description)
    }
  %>
  <%=
    render partial: "subsection", locals: {
      subsection_title: @resource.class.human_attribute_name(:description),
      subsection_id: "description-subsection",
      subsection_class: "description",
      action_icon: pencil(class: "svg svg-primary", width: "16px", height: "16px"),
      resource: @resource,
      new_resource_modal_id: "edit-description",
      new_resource_title: @resource.class.human_attribute_name(:edit_description),
      refresh_element_url: description_event_path(@resource)
    }
  %>

  <!-- Links -->
  <%=
    render partial: "modal_form", locals: {
      url: new_link_path(link: {
        linkable_id: @resource.id, linkable_type: @resource.class
      }),
      modal_id: "new-link",
      modal_title: @resource.class.human_attribute_name(:new_link)
    }
  %>
  <%=
    render partial: "subsection", locals: {
      action_icon: plus(class: "svg svg-primary", width: "16px", height: "16px"),
      subsection_title: @resource.class.human_attribute_name(:links),
      subsection_id: "links-subsection",
      subsection_class: "links",
      resource: @resource,
      new_resource_modal_id: "new-link",
      new_resource_title: @resource.class.human_attribute_name(:new_link),
      refresh_element_url: links_path(link: {
        linkable_id: @resource.id, linkable_type: @resource.class
      })
    }
  %>

  <!-- Attachments -->
  <%=
    render partial: "modal_form", locals: {
      url: new_attachment_path(attachment: {
        attachable_id: @resource.id, attachable_type: @resource.class
      }),
      modal_id: "new-attachment",
      modal_title: @resource.class.human_attribute_name(:new_attachment)
    }
  %>
  <%=
    render partial: "subsection", locals: {
      action_icon: plus(class: "svg svg-primary", width: "16px", height: "16px"),
      subsection_title: @resource.class.human_attribute_name(:attachments),
      subsection_id: "attachments-subsection",
      subsection_class: "attachments",
      resource: @resource,
      new_resource_modal_id: "new-attachment",
      new_resource_title: @resource.class.human_attribute_name(:new_attachment),
      refresh_element_url: attachments_path(attachment: {
        attachable_id: @resource.id, attachable_type: @resource.class
      })
    }
  %>

  <!-- Participants -->
  <%=
    render partial: "modal_form", locals: {
      url: new_event_participant_path(
        event_participant: {
          event_id: @resource.id
        }
      ),
      modal_id: "new-event-participant",
      modal_title: @resource.class.human_attribute_name(:new_participant)
    }
  %>
  <%=
    render partial: "subsection", locals: {
      action_icon: plus(class: "svg svg-primary", width: "16px", height: "16px"),
      subsection_title: @resource.class.human_attribute_name(:participants),
      subsection_id: "event_participants-subsection",
      subsection_class: "event_participants",
      resource: @resource,
      new_resource_modal_id: "new-event-participant",
      new_resource_title: @resource.class.human_attribute_name(:new_participant),
      refresh_element_url: event_participants_path(
        event_participant: {
          event_id: @resource.id
        },
        origin: {
          id: @resource.id,
          controller: @resource.class.name.pluralize.underscore
        }
      )
    }
  %>

  <!-- Notes -->
  <%=
    render partial: "modal_form", locals: {
      url: new_note_path({
        note: {
          subject_id: @resource.id,
          subject_type: @resource.class
        }
      }),
      modal_id: "new-note",
      modal_title: @resource.class.human_attribute_name(:new_note)
    }
  %>
  <%=
    render partial: "subsection", locals: {
      subsection_title: @resource.class.human_attribute_name(:notes),
      subsection_id: "notes-subsection",
      subsection_class: "notes",
      action_icon: plus(class: "svg svg-primary", width: "16px", height: "16px"),
      resource: @resource,
      new_resource_modal_id: "new-note",
      new_resource_title: @resource.class.human_attribute_name(:new_note),
      refresh_element_url: notes_path(
        note: {
          subject_id: @resource.id,
          subject_type: @resource.class
        }
      )
    }
  %>

  <!-- History -->
  <%=
    render partial: "subsection", locals: {
      subsection_title: @resource.class.human_attribute_name(:history),
      subsection_id: "history-subsection",
      subsection_class: "history",
      resource: @resource,
      refresh_element_url: history_event_path(@resource)
    }
  %>
</div>
