 <base href="<%= base_url %>" target="_blank">
<script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.6.1/iframeResizer.contentWindow.min.js"
        integrity="sha256-PJv7hfF/D/iYMWBM/SBfQsvGmIRJsYzZ/mFO3u4+6y0="
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script>
  $(document).ready(function() {
    $("form").submit(function(e){
      e.preventDefault();
    });
  });
</script>
