<div class="refreshable" data-refresh="<%= request.original_fullpath %>">
  <div class="pl-4 loading" style="display: none">
    <div class="spinner-border" role="status">
      <span class="sr-only"><%= t("observatorio.loading") %></span>
    </div>
  </div>
  <div class="content">
    <% @resources.each do |link| %>
      <%=
        render partial: "modal_form", locals: {
          url: edit_link_path(link),
          modal_id: "edit-link-#{link.id}",
          modal_title: Link.human_attribute_name(:edit)
        }
      %>
      <%=
        render partial: "confirm_delete", locals: {
          record: link,
          confirm_message: Link.human_attribute_name(
            :destroy_confirm, record: tag.strong(display_name(link))
          ).html_safe,
          modal_id: "destroy-link-#{link.id}",
          modal_title: Link.human_attribute_name(:destroy)
        }
      %>
      <div class="media item">
        <div>
          <%= image_tag image_path("open-iconic/globe.svg"),
                class:" pl-1 d-none d-md-inline thumb link-thumb" %>
        </div>
        <div class="media-body ml-md-2 mb-0 main">
          <div class="main">
            <span class="float-left mr-2">
              <strong class="mb-2 mb-md-0 float-left mr-1">
                <%=
                  link_to link.label, link_path(link, origin: {
                    id: link.linkable_id,
                    controller: link.linkable_type.pluralize.underscore
                  })
                %>
              </strong>
              <div class="small d-inline-block text-truncate float-left has-tooltip"
                   title="<%= link.url %>"
                   style="max-width: 200px">
                <%= link.url %>
              </div>
            </span>
            <div class="d-none d-md-block">
              <% if can? :update, link %>
                <a href="#edit-link-<%= link.id %>"
                   class="action has-tooltip"
                   data-toggle="modal"
                   data-placement="top"
                   title="<%= Link.human_attribute_name(:edit) %>">
                  <%= image_tag image_path("open-iconic/pencil.svg") %>
                </a>
              <% end %>
              <% if can? :delete, link %>
                <a href="#destroy-link-<%= link.id %>"
                   class="action has-tooltip"
                   data-toggle="modal"
                   data-placement="top"
                   title="<%= Link.human_attribute_name(:destroy) %>">
                  <%= image_tag image_path("open-iconic/x.svg") %>
                </a>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
