<div id="organization_member-<%= organization_member.id %>">
  <div class="refreshable"
       data-refresh="<%= organization_member_path(organization_member, origin: origin_params) %>">
    <div class="text-center loading position-absolute pl-5 pt-2" \
         style="display: none">
      <div class="spinner-border" role="status">
        <span class="sr-only"><%= t("observatorio.loading") %></span>
      </div>
    </div>
    <div class="content">
      <%=
        render partial: "modal_form", locals: {
          url: edit_organization_member_path(organization_member),
          modal_id: "edit-organization-member-#{organization_member.id}-member",
          modal_title: OrganizationMember.human_attribute_name(:member_edit)
        }
      %>
      <%=
        render partial: "modal_form", locals: {
          url: edit_organization_member_path(organization_member),
          modal_id: "edit-organization-member-#{organization_member.id}-organization",
          modal_title: OrganizationMember.human_attribute_name(:organization_edit)
        }
      %>
      <%=
        render partial: "confirm_delete", locals: {
          record: organization_member,
          confirm_message: OrganizationMember.human_attribute_name(
            :member_destroy_confirm,
            organization: tag.strong(display_name(organization_member.organization))
          ).html_safe,
          modal_id: "destroy-organization-member-#{organization_member.id}-member",
          modal_title: OrganizationMember.human_attribute_name(:member_destroy)
        }
      %>
      <%=
        render partial: "confirm_delete", locals: {
          record: organization_member,
          confirm_message: OrganizationMember.human_attribute_name(
            :organization_destroy_confirm,
            member: tag.strong(display_name(organization_member.member))
          ).html_safe,
          modal_id: "destroy-organization-member-#{organization_member.id}-organization",
          modal_title: OrganizationMember.human_attribute_name(:organization_destroy)
        }
      %>
      <%=
        render partial: "modal_form", locals: {
          url: new_link_path(link: {
            linkable_id: organization_member.id, linkable_type: OrganizationMember
          }),
          modal_id: "add-source-#{organization_member.id}",
          modal_title: OrganizationMember.human_attribute_name(:new_source)
        }
      %>
      <%=
        render partial: "modal_form", locals: {
          url: new_attachment_path(attachment: {
            attachable_id: organization_member.id, attachable_type: OrganizationMember
          }),
          modal_id: "add-attachment-#{organization_member.id}",
          modal_title: OrganizationMember.human_attribute_name(:new_attachment)
        }
      %>
      <% organization_member.sources.each do |link| %>
        <%=
          render partial: "modal_form", locals: {
            url: edit_link_path(link),
            modal_id: "edit-link-#{link.id}",
            modal_title: Link.human_attribute_name(:edit)
          }
        %>
        <%=
          render partial: "confirm_delete", locals: {
            record: link,
            confirm_message: Link.human_attribute_name(
              :destroy_confirm, record: tag.strong(display_name(link))
            ).html_safe,
            modal_id: "destroy-link-#{link.id}",
            modal_title: Link.human_attribute_name(:destroy)
          }
        %>
      <% end %>
      <% organization_member.attachments.each do |attachment| %>
        <%=
          render partial: "modal_form", locals: {
            url: edit_attachment_path(attachment),
            modal_id: "edit-attachment-#{attachment.id}",
            modal_title: Attachment.human_attribute_name(:edit)
          }
        %>
        <%=
          render partial: "confirm_delete", locals: {
            record: attachment,
            confirm_message: Attachment.human_attribute_name(
              :destroy_confirm, record: tag.strong(display_name(attachment))
            ).html_safe,
            modal_id: "destroy-attachment-#{attachment.id}",
            modal_title: Attachment.human_attribute_name(:destroy)
          }
        %>
      <% end %>
      <% if organization_member.location %>
        <%=
          render partial: "modal_map", locals: {
            modal_id: "location-#{organization_member.id}-modal",
            data_location_path: location_path(organization_member.location_id)
          }
        %>
      <% end %>
      <div class="media item">
        <div class="d-none d-md-inline mr-2 member-only">
          <%= image_tag organization_member.organization.picture&.thumb&.url || image_path("open-iconic/home.svg"),
                class:"rounded-circle thumb main" %>
        </div>
        <div class="d-none d-md-inline mr-2 organization-only">
          <%= image_tag organization_member.member.picture&.thumb&.url || image_path("open-iconic/person.svg"),
                class:"rounded-circle thumb main" %>
        </div>
        <div class="media-body mb-0 pb-2">
          <div class="d-inline-block">
            <span class="float-left mr-2">
              <strong class="mb-2 mb-md-0 member-only">
                <%= display_resource(organization_member.organization) %>
              </strong>
              <strong class="mb-2 mb-md-0 organization-only">
                <%= display_resource(organization_member.member) %>
              </strong>
            </span>
            <div class="d-none d-md-inline-block member-only">
              <% if can? :update, organization_member %>
                <a href="#edit-organization-member-<%= organization_member.id %>-member"
                   class="action has-tooltip"
                   data-toggle="modal"
                   data-placement="top"
                   title="<%= OrganizationMember.human_attribute_name(:member_edit) %>">
                  <%= image_tag image_path("open-iconic/pencil.svg") %>
                </a>
              <% end %>
              <% if can? :delete, organization_member %>
                <a href="#destroy-organization-member-<%= organization_member.id %>-member"
                   class="action has-tooltip"
                   data-toggle="modal"
                   data-placement="top"
                   title="<%= OrganizationMember.human_attribute_name(:member_destroy) %>">
                  <%= image_tag image_path("open-iconic/x.svg") %>
                </a>
              <% end %>
            </div>
            <div class="d-none d-md-inline-block organization-only">
              <% if can? :update, organization_member %>
                <a href="#edit-organization-member-<%= organization_member.id %>-organization"
                   class="action has-tooltip"
                   data-toggle="modal"
                   data-placement="top"
                   title="<%= OrganizationMember.human_attribute_name(:organization_edit) %>">
                  <%= image_tag image_path("open-iconic/pencil.svg") %>
                </a>
              <% end %>
              <% if can? :delete, organization_member %>
                <a href="#destroy-organization-member-<%= organization_member.id %>-organization"
                   class="action has-tooltip"
                   data-toggle="modal"
                   data-placement="top"
                   title="<%= OrganizationMember.human_attribute_name(:organization_destroy) %>">
                  <%= image_tag image_path("open-iconic/x.svg") %>
                </a>
              <% end %>
            </div>
          </div>
          <% if organization_member.position %>
            <span class="small d-block">
              <strong><%= OrganizationMember.human_attribute_name(:position) %>:</strong>
              <%= display_resource(organization_member.position) %>
            </span>
          <% end %>
          <% if organization_member.department %>
            <span class="small d-block member-only">
              <strong><%= OrganizationMember.human_attribute_name(:department) %>:</strong>
              <%= display_name(organization_member.department) %>
            </span>
          <% end %>
          <% if organization_member.from_date %>
            <span class="small d-block">
              <strong><%= OrganizationMember.human_attribute_name(:from_date) %>:</strong>
              <%= display_time(organization_member.from_date) %>
              <% if organization_member.approximate_dates %>
                <strong>*</strong>
              <% end %>
            </span>
          <% end %>
          <% if organization_member.from_date || organization_member.to_date %>
            <span class="small d-block">
              <strong><%= OrganizationMember.human_attribute_name(:to_date) %>:</strong>
              <% if organization_member.to_date %>
                <%= display_time(organization_member.to_date) %>
                <% if organization_member.approximate_dates %>
                  <strong>*</strong>
                <% end %>
              <% else %>
                -
              <% end %>
            </span>
          <% end %>
          <% if organization_member.approximate_dates %>
            <strong class="small">* <%= OrganizationMember.human_attribute_name(:approximate_dates_label) %></strong>
          <% end %>
          <% if organization_member.location %>
            <span class="small d-block">
              <strong><%= OrganizationMember.human_attribute_name(:location) %>:</strong>
              <a href="#location-<%= organization_member.id %>-modal" data-toggle="modal">
                <%= display_name(organization_member.location)%>
              </a>
            </span>
          <% end %>
          <span class="small d-block">
            <strong class="mr-1">
              <%= OrganizationMember.human_attribute_name(:sources) %>:
            </strong>
            <div class="d-none d-md-inline-block">
              <% if can? :update, organization_member %>
                <a href="#add-source-<%= organization_member.id %>"
                   class="action has-tooltip"
                   data-toggle="modal"
                   data-placement="top"
                   title="<%= OrganizationMember.human_attribute_name(:new_source) %>">
                  <%= image_tag image_path("open-iconic/plus.svg") %>
                </a>
              <% end %>
            </div>
          </span>
          <% organization_member.sources.each do |link| %>
            <div class="small d-block">
              <span class="float-left mr-2">
                <strong class="ml-3 mr-1 float-left">
                  <%= link_to(link.label, link_path(link, origin: origin_params)) %>
                </strong>
                <div class="small d-inline-block text-truncate float-left has-tooltip"
                     title="<%= link.url %>"
                     style="max-width: 150px; padding-top: 3px">
                  <%= link.url %>
                </div>
              </span>
              <div class="d-none d-md-inline-block">
                <% if can? :update, link %>
                  <a href="#edit-link-<%= link.id %>"
                     class="action has-tooltip"
                     data-toggle="modal"
                     data-placement="top"
                     title="<%= Link.human_attribute_name(:edit) %>">
                    <%= image_tag image_path("open-iconic/pencil.svg") %>
                  </a>
                <% end %>
                <% if can? :delete, link %>
                  <a href="#destroy-link-<%= link.id %>"
                     class="action has-tooltip"
                     data-toggle="modal"
                     data-placement="top"
                     title="<%= Link.human_attribute_name(:destroy) %>">
                    <%= image_tag image_path("open-iconic/x.svg") %>
                  </a>
                <% end %>
              </div>
            </div>
          <% end %>
          <span class="small d-block">
            <strong class="mr-1">
              <%= OrganizationMember.human_attribute_name(:attachments) %>:
            </strong>
            <div class="d-none d-md-inline-block">
              <% if can? :update, organization_member %>
                <a href="#add-attachment-<%= organization_member.id %>"
                   class="action has-tooltip"
                   data-toggle="modal"
                   data-placement="top"
                   title="<%= OrganizationMember.human_attribute_name(:new_attachment) %>">
                  <%= image_tag image_path("open-iconic/plus.svg") %>
                </a>
              <% end %>
            </div>
          </span>
          <% organization_member.attachments.each do |attachment| %>
            <div class="small d-block">
              <span class="mr-1">
                <strong class="ml-3">
                  <%= link_to attachment.label, attachment_path(attachment, origin: origin_params) %>
                </strong>
                <span><%= attachment.file_extension %></span>
                <span class="small">(<%= number_to_human_size(attachment.file_size) %>)</span>
              </span>
              <div class="d-none d-md-inline-block">
                <% if can? :update, attachment %>
                  <a href="#edit-attachment-<%= attachment.id %>"
                     class="action has-tooltip"
                     data-toggle="modal"
                     data-placement="top"
                     title="<%= Attachment.human_attribute_name(:edit) %>">
                    <%= image_tag image_path("open-iconic/pencil.svg") %>
                  </a>
                <% end %>
                <% if can? :delete, attachment %>
                  <a href="#destroy-attachment-<%= attachment.id %>"
                     class="action has-tooltip"
                     data-toggle="modal"
                     data-placement="top"
                     title="<%= Attachment.human_attribute_name(:destroy) %>">
                    <%= image_tag image_path("open-iconic/x.svg") %>
                  </a>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
