<%= form_for @resource, html: { :"data-init" => "initOrganizationMemberModal" } do |f| %>
  <div class="modal-body">
    <div class="form-group row member-only">
      <% organization_id_error = @resource.errors[:organization_id]&.first  %>
      <%= label_tag "organization_member[organization_id]",
            @resource.class.human_attribute_name(:organization), class: "col-3" %>
      <%= select_tag "organization_member[organization_id]",
            options_for_select([nil] + organizations_options, @resource.organization_id),
            class: "col-8 form-control form-control-sm #{"is-invalid" if organization_id_error}",
            required: true, disabled: @resource.persisted? %>
      <% if organization_id_error %>
        <div class="invalid-feedback">
          <div class="row">
            <div class="col-8 offset-3">
              <%= organization_id_error %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="form-group row organization-only">
      <% member_id_error = @resource.errors[:member_id]&.first  %>
      <%= label_tag "organizations_member[member_id]",
            @resource.class.human_attribute_name(:member), class: "col-3" %>
      <%= select_tag "organization_member[member_id]",
            options_for_select([nil] + people_options, @resource.member_id),
            class: "col-8 form-control form-control-sm #{"is-invalid" if member_id_error}",
            required: true, disabled: @resource.persisted? %>
      <% if member_id_error %>
        <div class="invalid-feedback">
          <div class="row">
            <div class="col-8 offset-3">
              <%= member_id_error %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="form-group row">
      <% position_id_error = @resource.errors[:position]&.first %>
      <%= label_tag "organization_member[position_id]",
            @resource.class.human_attribute_name(:position), class: "col-3" %>
      <%= select_tag "organization_member[position_id]",
            options_for_select([nil] + positions_options, @resource.position_id),
            class: "col-8 form-control form-control-sm #{"is-invalid" if position_id_error}" %>
      <% if position_id_error %>
        <div class="invalid-feedback">
          <div class="row">
            <div class="col-8 offset-3">
              <%= position_id_error %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="form-group row <%= "member-only" if @resource.new_record? %>">
      <% department_id_error = @resource.errors[:department]&.first %>
      <%= label_tag "organization_member[department_id]",
            @resource.class.human_attribute_name(:department), class: "col-3" %>
      <div class="col-8 p-0">
        <div class="text-center loading loading-departments" style="display: none">
          <div class="spinner-border" role="status">
            <span class="sr-only"><%= t("observatorio.loading") %></span>
          </div>
        </div>
        <%= select_tag "organization_member[department_id]",
              options_for_select([nil] + organization_departments_options, @resource.department_id),
              class: "form-control form-control-sm #{"is-invalid" if department_id_error}" %>
        <% if department_id_error %>
          <div class="invalid-feedback">
            <div class="row">
              <div class="col-8 offset-3">
                <%= department_id_error %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="form-group date-boundaries-group row">
      <% from_date_error = @resource.errors[:from_date]&.first %>
      <%= label_tag "organization_member[from_date]",
            @resource.class.human_attribute_name(:from_date), class: "col-3" %>
      <%= date_field_tag "organization_member[from_date]", @resource.from_date,
            class: "form-control form-control-sm col-8 #{"is-invalid" if from_date_error}" %>
      <% if from_date_error %>
        <div class="invalid-feedback">
          <div class="row">
            <div class="col-8 offset-3">
              <%= from_date_error %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="form-group date-boundaries-group row">
      <% to_date_error = @resource.errors[:to_date]&.first %>
      <%= label_tag "organization_member[to_date]",
            @resource.class.human_attribute_name(:to_date), class: "col-3" %>
      <%= date_field_tag "organization_member[to_date]", @resource.to_date,
            class: "form-control form-control-sm col-8 #{"is-invalid" if to_date_error}" %>
      <% if to_date_error %>
        <div class="invalid-feedback">
          <div class="row">
            <div class="col-8 offset-3">
              <%= to_date_error %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <fieldset class="form-group">
      <div class="row">
        <%= label_tag "organizations_member[approximate_dates]",
              @resource.class.human_attribute_name(:approximate_dates), class: "col-3" %>
        <div class="form-control-sm form-control-check col-8">
          <div class="form-check">
            <input class="form-check-input" type="radio"
                   name='organization_member[approximate_dates]'
                   required id="approximateDatesYes"
                   value="1"
                   <%= "checked" if @resource.approximate_dates %>>
            <label class="form-check-label" for="approximateDatesYes">
              <%= t("observatorio.true") %>
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio"
                   name='organization_member[approximate_dates]'
                   required id="approximateDatesNo"
                   value="0"
                   <%= "checked" unless @resource.approximate_dates %>>
            <label class="form-check-label" for="approximateDatesNo">
              <%= t("observatorio.false") %>
            </label>
          </div>
        </div>
      </div>
    </fieldset>
    <div class="border-bottom pb-2 mb-2 location-title">
      <%= @resource.class.human_attribute_name(:location) %>
    </div>
    <div class="form-group location-group small">
      <%= f.hidden_field :location_id,
            :"data-geocoding-placeholder" => t("observatorio.search.placeholder"),
            :"data-locations-path" => reverse_geocode_locations_path %>
      <% if @resource.organization&.headquarters_id &&
            @resource.organization.headquarters_id != @resource.location_id %>
        <% organization_location_id = @resource.organization.headquarters_id %>
      <% else %>
        <% organization_location_id = nil %>
      <% end %>
      <div class="form-check mb-1 organization-location"
           <%= "style='display: none'".html_safe unless organization_location_id %>>
        <%= radio_button_tag "location_radio", organization_location_id, false,
              id: "organizationLocation", required: true, class: "form-check-input" %>
        <label class="form-check-label" for="organizationLocation">
          <%= truncated_address(@resource.organization&.headquarters) %>
        </label>
      </div>
      <% if @resource.department&.location_id &&
            @resource.department.location_id != @resource.location_id %>
        <% department_location_id = @resource.department.location_id %>
      <% else %>
        <% department_location_id = nil %>
      <% end %>
      <div class="form-check mb-1 department-location"
           <%= "style='display: none'".html_safe unless department_location_id %>>
        <%= radio_button_tag "location_radio", department_location_id, false,
              id: "organizationDepartmentLocation", required: true, class: "form-check-input"  %>
        <label class="form-check-label" for="organizationDepartmentLocation">
          <%= truncated_address(@resource.department&.location) %>
        </label>
      </div>
      <% if @resource.location %>
        <div class="form-check mb-1 current-location">
          <%= radio_button_tag "location_radio", @resource.location_id, true,
                id: "organizationMemberLocation", required: true, class: "form-check-input" %>
          <label class="form-check-label" for="organizationMemberLocation">
            <%= truncated_address(@resource.location) %>
          </label>
        </div>
      <% end %>
      <div class="form-check mb-1">
        <%= radio_button_tag "location_radio", nil, false,
              id: "searchLocation", required: true,
              class: "form-check-input location-search" %>
        <label class="form-check-label" for="searchLocation">
          <%= @resource.class.human_attribute_name(:location_search) %>
        </label>
      </div>
      <div class="map-container mt-2" id='<%= SecureRandom.uuid %>'>
      </div>
      <div class="form-check mb-1">
        <%= radio_button_tag "location_radio", nil, @resource.location_id.nil?,
              class: "form-check-input", required: true, id: "nullLocation" %>
        <label class="form-check-label" for="nullLocation">
          <%= @resource.class.human_attribute_name(:location_null) %>
        </label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <%= submit_tag t("observatorio.save"), class: "btn btn-primary btn-sm" %>
    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
      <%= t("observatorio.cancel") %>
    </button>
  </div>
<% end %>
