<div class="refreshable" data-refresh="<%= request.original_fullpath %>">
  <div class="pl-4 loading" style="display: none">
    <div class="spinner-border" role="status">
      <span class="sr-only"><%= t("observatorio.loading") %></span>
    </div>
  </div>
  <div class="content">
    <% @resources.each do |organization_department| %>
      <%= render partial: "resource",
                 locals: { organization_department: organization_department } %>
    <% end %>
  </div>
</div>
