@import "nav";
@import "devise";

 :root {
   --input-padding-x: .75rem;
   --input-padding-y: .75rem;
 }

html,
body {
  height: 100%;
}

body {
  padding-top: 56px;
  padding-bottom: 40px;
}

.container {
  padding-bottom: 40px;
}

.footer {
  width: 100%;
  height: 40px; /* Set the fixed height of the footer here */
  line-height: 40px; /* Vertically center the text there */
  background-color: #e9e9e9;
  text-align: center;
}

.bg-black {
  background-color: #000000 !important;
}

.thumb {
  width: 40px;
  min-width: 40px;
  height: 40px;
  &.attachment-thumb,
  &.link-thumb {
    width: 20px;
    min-width: 20px;
    height: 20px;
  }
}

.attachments, .links, .positions, .departments {
  .thumb {
    width: 20px;
    min-width: 20px;
    height: 20px;
  }
}

.line-height-1 {
  line-height: 1rem;
}

.show, .index {
  .svg, svg {
    &.svg-primary {
      fill: #007bff;
    }
    &.svg-danger {
      fill: #dc3545;
    }
    &.svg-info {
      fill: #17a2b8;
    }
    &.svg-success {
      fill: #28a745;
    }
    &.svg-secondary {
      fill: #6c757d;
    }
    &.svg-white {
      fill: #fff;
    }
  }
  .pict-info {
    height: 0.8rem;
    width: 0.8rem;
  }
  .picture {
    height: 160px;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    .loading-picture {
      padding-top: 70px;
      .spinner-border {
        height: 40px;
        width: 40px;
      }
    }
    .picture-index {
      height: 128px;
    }
    .action {
      visibility: hidden;
      img {
        width: 1rem;
        height: 1rem;
      }
    }
    &:hover {
      .action {
        visibility: visible;
      }
    }
  }
  .action {
    text-decoration: none !important;
    opacity: .5;
    img {
      width: 1.5rem;
      height: 1.5rem;
    }
    &:hover {
      opacity: 1;
    }
    display: inline-block;
  }
  .subsection {
    width: 100%;
    .action {
      img {
        width: 1rem;
        height: 1rem;
      }
    }
  }
  .item {
    .action {
      visibility: hidden;
      img {
        width: .8rem;
        height: .8rem;
      }
    }
    &:hover {
      .action {
        visibility: visible;
      }
    }
  }
}

.action-collapse {
  .collapse-show {
    display: block;
  }
  .collapse-hide {
    display: none;
  }
  &.shown {
    .collapse-show {
      display: none;
    }
    .collapse-hide {
      display: block;
    }
  }
}

.modal-body {
  max-height: 390px;
  overflow-y: auto;
  overflow-x: hidden;
  &.map-container {
    height: 390px;
    width: 100%;
    padding: 0;
  }
  &.textarea-body {
    height: 390px;
    width: 100%;
    textarea {
      height: 100%;
    }
  }
  textarea {
    width: 100%;
  }
}

.pdf-container {
  width: 100%;
}

.modal-header {
  .close {
    img {
      height: 13px;
    }
  }
}

label.checkbox {
  border-radius: 10rem;
  input {
    display: none;
  }
}

.btn-sm, .btn-back {
  .svg {
    height: 12px;
    width: 12px;
  }
}

.links, .attachments {
  &.show {
    .subsection {
      a {
        .svg {
          height: 18px;
          width: 18px;
        }
      }
    }
  }
}

.btn-outline-dark,
.btn-outline-info,
.btn-outline-danger,
.btn-outline-success,
.btn-outline-secondary,
.btn-outline-primary {
  .svg {
    transition: fill .15s
  }
  &:hover {
    .svg {
      fill: #FFF;
    }
  }
}

.svg {
  display: block;
}

.association-template {
  display: none;
}

select.is-invalid ~ .invalid-feedback {
  display: block;
}

.modal {
  .map-container {
    margin-left: auto;
    margin-right: auto;
    height: 285px;
  }
  .loading {
    margin: 10px 0;
  }
  form {
    .loading {
      margin: 0;
      .spinner-border {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}

.small, .form-control-sm {
  .form-check {
    label {
      padding-top: .2rem;
    }
  }
}

.form-control-check {
  padding-left: 0;
}

.nationality {
  cursor: default;
}

.nationalities-list {
  .form-control {
    width: 90%;
  }
}

.changeset {
  font-weight: bold;
  padding-left: 2px;
  padding-right: 2px;
  &.delete {
    background-color: rgb(251, 193, 195);
    color: rgb(251, 53, 55);
    font-style: italic;
  }
  &.insert {
    background-color: rgb(190, 253, 194);
    color: rgb(50, 203, 54);
  }
}

.events {
  .participant-only {
    display: none !important;
  }
  &.show {
    #description-subsection {
      .content {
        max-height: 200px;
        overflow-y: scroll;
      }
    }
  }
}

.people {
  .school-only,
  .organization-only,
  .event-only {
    display: none !important;
  }
  &.show {
    #biography-subsection {
      .content {
        max-height: 200px;
        overflow-y: scroll;
      }
    }
  }
}

.organizations {
  .student-only,
  .member-only,
  .owner-only,
  .event-only {
    display: none !important;
  }
  .organizations-owner {
    .organization-only {
      display: none !important;
    }
    .owner-only {
      display: inline !important;
      &.form-group {
        display: flex !important;
      }
      &.modal-body {
        display: block !important;
      }
    }
  }
  &.show {
    #description-subsection {
      .content {
        max-height: 200px;
        overflow-y: scroll;
      }
    }
  }
}

.lazyload-video {
  .lazyload-video-placeholder {
    cursor: pointer;
  }
}

.names-container {
  .spinner-name {
    width: 22px;
    height: 22px;
  }
  .action {
    visibility: hidden;
    img {
      width: .8rem;
    }
  }
  &:hover {
    .action {
      visibility: visible;
    }
  }
}

@media (min-width: 576px) {
  .search-result {
    p {
      min-height: 40px;
      line-height: 40px;
    }
  }

  .show, .index {
    .attachments, .links, .positions, .courses, .departments {
      .item {
        .main {
          min-height: 20px;
          line-height: 25px
        }
      }
    }
    .item {
      .main {
        min-height: 40px;
        line-height: 40px;
      }
    }
  }
}
