<% item = version.item_state %>
<% item_klass = version.item_klass %>
<div class="media item">
  <div class="media-body mb-0 mt-0 mb-2">
    <div class="d-inline-block main">
      <strong class="mb-md-0">
        <%= display_time(version.created_at) %>
      </strong>
      &middot;
      <%= display_user(version.user) %>
    </div>
    <span class="ml-2 d-block">
      <%= t("paper_trail.education_degree.#{version.event}").html_safe %>
      <a class="btn btn-info small btn-sm py-0 px-1 ml-1"
         data-toggle="collapse"
         href="#details<%= version.id %>"
         role="button"
         aria-expanded="false"
         aria-controls="details">
         <%= t("paper_trail.details") %>
      </a>
    </span>
    <div class="collapse small" id="details<%= version.id %>">
      <ul class="mt-1 mb-0 pl-4" style="list-style-type: none">
        <% if version.converted_changeset.key?("name") %>
          <li>
            <strong><%= EducationDegree.human_attribute_name(:name) %>:</strong>
            <%= Differ.diff_by_word(
                  *version.converted_changeset["name"].reverse
                ).format_as(:html).html_safe %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
