<div class="modal-body">
  <%= t("observatorio.models.education_degree.destroyed",
        degree: tag.strong(display_name(@resource))).html_safe %>
</div>
<div class="modal-footer">
  <%= link_to t("observatorio.dialog.ok"), education_degrees_path,
        class: "btn btn-primary btn-sm"%>
</div>
