<% item = version.item_state %>
<div class="media item">
  <div class="media-body mb-0 mt-0 mb-2">
    <div class="d-inline-block main">
      <strong class="mb-md-0">
        <%= display_time(version.created_at) %>
      </strong>
      &middot;
      <%= display_user(version.user) %>
    </div>
    <span class="ml-2 d-block">
      <%= t("paper_trail.organization.#{version.event}").html_safe %>
      <a class="btn btn-info small btn-sm py-0 px-1 ml-1"
         data-toggle="collapse"
         href="#details<%= version.id %>"
         role="button"
         aria-expanded="false"
         aria-controls="details">
         <%= t("paper_trail.details") %>
      </a>
    </span>
    <div class="collapse small" id="details<%= version.id %>">
      <ul class="mt-1 mb-0 pl-4" style="list-style-type: none">
        <% if version.converted_changeset.key?("name") %>
          <li>
            <strong><%= Organization.human_attribute_name(:name) %>:</strong>
            <%= Differ.diff_by_word(
                  *version.converted_changeset["name"].reverse
                ).format_as(:html).html_safe %>
          </li>
        <% end %>
        <% if version.converted_changeset.key?("cnpj") %>
          <li>
            <strong><%= Organization.human_attribute_name(:cnpj) %>:</strong>
            <%= Differ.diff_by_word(
                  *version.converted_changeset["cnpj"].reverse
                ).format_as(:html).html_safe %>
          </li>
        <% end %>
        <% if version.converted_changeset.key?("description") %>
          <li>
            <strong><%= Organization.human_attribute_name(:description) %>:</strong>
            <%= Differ.diff_by_word(
                  *version.converted_changeset["description"].reverse
                ).format_as(:html).html_safe %>
          </li>
        <% end %>
        <% if version.converted_changeset.key?("abbreviation") %>
          <li>
            <strong><%= Organization.human_attribute_name(:abbreviation) %>:</strong>
            <%= Differ.diff_by_line(
                  *version.converted_changeset["abbreviation"].reverse
                ).format_as(:html).html_safe %>
          </li>
        <% end %>
        <% if version.converted_changeset.key?("school") %>
          <li>
            <strong><%= Organization.human_attribute_name(:school) %>:</strong>
            <%= Differ.diff_by_line(
                  *version.converted_changeset["school"].reverse.map { |b| display_boolean(b) }
                ).format_as(:html).html_safe %>
          </li>
        <% end %>
        <% if version.converted_changeset.key?("date_of_foundation") %>
          <li>
            <strong><%= Organization.human_attribute_name(:date_of_foundation) %>:</strong>
            <%= Differ.diff_by_line(
                  *version.converted_changeset["date_of_foundation"].reverse.map { |d| display_time(d) }
                ).format_as(:html).html_safe %>
          </li>
        <% end %>
        <% if version.converted_changeset.key?("date_of_extinction") %>
          <li>
            <strong><%= Organization.human_attribute_name(:date_of_extinction) %>:</strong>
            <%= Differ.diff_by_line(
                  *version.converted_changeset["date_of_extinction"].reverse.map { |d| display_time(d) }
                ).format_as(:html).html_safe %>
          </li>
        <% end %>
        <% if version.converted_changeset.key?("approximate_dates") %>
          <li>
            <strong><%= Organization.human_attribute_name(:approximate_dates) %>:</strong>
            <%= Differ.diff_by_line(
                  *version.converted_changeset["approximate_dates"].reverse.map { |b| display_boolean(b) }
                ).format_as(:html).html_safe %>
          </li>
        <% end %>
        <% if version.converted_changeset.key?("headquarters_id") %>
          <li>
            <strong><%= Organization.human_attribute_name(:headquarters) %>:</strong>
            <%= Differ.diff_by_line(
                  *version.converted_changeset["headquarters_id"].reverse.map { |l| display_name(l) }
                ).format_as(:html).html_safe %>
          </li>
        <% end %>
        <% if version.converted_changeset.key?("picture") %>
          <li>
            <strong><%= Organization.human_attribute_name(:picture) %>:</strong>
            <%= Organization.human_attribute_name(:picture_updated) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
