<% item = version.item_state(belongs_to: true) %>
<% student = item.student %>
<% school = item.school %>
<% event = version.event %>
<div class="media item">
  <div class="media-body mb-0 mt-0 mb-2">
    <div class="d-inline-block main">
      <strong class="mb-md-0">
        <%= display_time(version.created_at) %>
      </strong>
      &middot;
      <%= display_user(version.user) %>
    </div>
    <span class="ml-2 d-block">
      <span class="school-only">
        <%= t("paper_trail.education.school.#{event}",
              student: tag.strong(display_resource(student))).html_safe %>
      </span>
      <span class="student-only">
        <%= t("paper_trail.education.student.#{event}",
              school: tag.strong(display_resource(school))).html_safe %>
      </span>
      <% if event != "destroy" %>
        <a class="btn btn-info small btn-sm py-0 px-1 ml-1"
           data-toggle="collapse"
           href="#details<%= version.id %>"
           role="button"
           aria-expanded="false"
           aria-controls="details">
          <%= t("paper_trail.details") %>
        </a>
      <% end %>
    </span>
    <% if event != "destroy" %>
      <div class="collapse small" id="details<%= version.id %>">
        <ul class="mt-1 mb-0 pl-4" style="list-style-type: none">
          <% if version.converted_changeset.key?("course_id") %>
            <li>
              <strong><%= Education.human_attribute_name(:course) %>:</strong>
              <%= Differ.diff_by_line(
                    *version.converted_changeset["course_id"].reverse.map { |c| display_resource(c) }
                  ).format_as(:html).html_safe %>
            </li>
          <% end %>
          <% if version.converted_changeset.key?("degree_id") %>
            <li>
              <strong><%= Education.human_attribute_name(:degree) %>:</strong>
              <%= Differ.diff_by_line(
                    *version.converted_changeset["degree_id"].reverse.map { |d| display_resource(d) }
                  ).format_as(:html).html_safe %>
            </li>
          <% end %>
          <% if version.converted_changeset.key?("from_date") %>
            <li>
              <strong><%= Education.human_attribute_name(:from_date) %>:</strong>
              <%= Differ.diff_by_line(
                    *version.converted_changeset["from_date"].reverse.map { |d| display_time(d) }
                  ).format_as(:html).html_safe %>
            </li>
          <% end %>
          <% if version.converted_changeset.key?("to_date") %>
            <li>
              <strong><%= Education.human_attribute_name(:to_date) %>:</strong>
              <%= Differ.diff_by_line(
                    *version.converted_changeset["to_date"].reverse.map { |d| display_time(d) }
                  ).format_as(:html).html_safe %>
            </li>
          <% end %>
          <% if version.converted_changeset.key?("approximate_dates") %>
            <li>
              <strong><%= Education.human_attribute_name(:approximate_dates) %>:</strong>
              <%= Differ.diff_by_line(
                    *version.converted_changeset["approximate_dates"].reverse.map { |b| display_boolean(b) }
                  ).format_as(:html).html_safe %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
