<div id="education-<%= education.id %>">
  <div class="refreshable" data-refresh="<%= education_path(education, origin: origin_params) %>">
    <div class="text-center loading position-absolute pl-5 pt-2" \
         style="display: none">
      <div class="spinner-border" role="status">
        <span class="sr-only"><%= t("observatorio.loading") %></span>
      </div>
    </div>
    <div class="content">
      <%=
        render partial: "modal_form", locals: {
          url: edit_education_path(education),
          modal_id: "edit-education-#{education.id}-student",
          modal_title: Education.human_attribute_name(:student_edit)
        }
      %>
      <%=
        render partial: "modal_form", locals: {
          url: edit_education_path(education),
          modal_id: "edit-education-#{education.id}-school",
          modal_title: Education.human_attribute_name(:school_edit)
        }
      %>
      <%=
        render partial: "confirm_delete", locals: {
          record: education,
          confirm_message: Education.human_attribute_name(
            :student_destroy_confirm,
            school: tag.strong(display_name(education.school))
          ).html_safe,
          modal_id: "destroy-education-#{education.id}-student",
          modal_title: Education.human_attribute_name(:student_destroy)
        }
      %>
      <%=
        render partial: "confirm_delete", locals: {
          record: education,
          confirm_message: Education.human_attribute_name(
            :school_destroy_confirm,
            student: tag.strong(display_name(education.student))
          ).html_safe,
          modal_id: "destroy-education-#{education.id}-school",
          modal_title: Education.human_attribute_name(:school_destroy)
        }
      %>
      <%=
        render partial: "modal_form", locals: {
          url: new_link_path(link: {
            linkable_id: education.id,
            linkable_type: Education
          }),
          modal_id: "add-source-#{education.id}",
          modal_title: Education.human_attribute_name(:new_source)
        }
      %>
      <%=
        render partial: "modal_form", locals: {
          url: new_attachment_path(attachment: {
            attachable_id: education.id,
            attachable_type: Education
          }),
          modal_id: "add-attachment-#{education.id}",
          modal_title: Education.human_attribute_name(:new_attachment)
        }
      %>
      <% education.sources.each do |link| %>
        <%=
          render partial: "modal_form", locals: {
            url: edit_link_path(link),
            modal_id: "edit-link-#{link.id}",
            modal_title: Link.human_attribute_name(:edit)
          }
        %>
        <%=
          render partial: "confirm_delete", locals: {
            record: link,
            confirm_message: Link.human_attribute_name(
              :destroy_confirm, record: tag.strong(display_name(link))
            ).html_safe,
            modal_id: "destroy-link-#{link.id}",
            modal_title: Link.human_attribute_name(:destroy)
          }
        %>
      <% end %>
      <% education.attachments.each do |attachment| %>
        <%=
          render partial: "modal_form", locals: {
            url: edit_attachment_path(attachment),
            modal_id: "edit-attachment-#{attachment.id}",
            modal_title: Attachment.human_attribute_name(:edit)
          }
        %>
        <%=
          render partial: "confirm_delete", locals: {
            record: attachment,
            confirm_message: Attachment.human_attribute_name(
              :destroy_confirm, record: tag.strong(display_name(attachment))
            ).html_safe,
            modal_id: "destroy-attachment-#{attachment.id}",
            modal_title: Attachment.human_attribute_name(:destroy)
          }
        %>
      <% end %>
      <div class="media item">
        <div class="d-none d-md-inline mr-2 student-only">
          <%= image_tag education.school.picture&.thumb&.url || image_path("open-iconic/home.svg"),
                class:"rounded-circle thumb main" %>
        </div>
        <div class="d-none d-md-inline mr-2 school-only">
          <%= image_tag education.student.picture&.thumb&.url || image_path("open-iconic/person.svg"),
                class:"rounded-circle thumb main" %>
        </div>
        <div class="media-body mb-0 pb-2">
          <div class="d-inline-block">
            <span class="float-left mr-2">
              <strong class="mb-2 mb-md-0 student-only">
                <%= display_resource(education.school) %>
              </strong>
              <strong class="mb-2 mb-md-0 school-only">
                <%= display_resource(education.student) %>
              </strong>
            </span>
            <div class="d-none d-md-inline-block student-only">
              <% if can? :update, education %>
                <a href="#edit-education-<%= education.id %>-student"
                   class="action has-tooltip"
                   data-toggle="modal"
                   data-placement="top"
                   title="<%= Education.human_attribute_name(:student_edit) %>">
                  <%= image_tag image_path("open-iconic/pencil.svg") %>
                </a>
              <% end %>
              <% if can? :delete, education %>
                <a href="#destroy-education-<%= education.id %>-student"
                   class="action has-tooltip"
                   data-toggle="modal"
                   data-placement="top"
                   title="<%= Education.human_attribute_name(:student_destroy) %>">
                  <%= image_tag image_path("open-iconic/x.svg") %>
                </a>
              <% end %>
            </div>
            <div class="d-none d-md-inline-block school-only">
              <% if can? :update, education %>
                <a href="#edit-education-<%= education.id %>-school"
                   class="action has-tooltip"
                   data-toggle="modal"
                   data-placement="top"
                   title="<%= Education.human_attribute_name(:school_edit) %>">
                  <%= image_tag image_path("open-iconic/pencil.svg") %>
                </a>
              <% end %>
              <% if can? :delete, education %>
                <a href="#destroy-education-<%= education.id %>-school"
                   class="action has-tooltip"
                   data-toggle="modal"
                   data-placement="top"
                   title="<%= Education.human_attribute_name(:school_destroy) %>">
                  <%= image_tag image_path("open-iconic/x.svg") %>
                </a>
              <% end %>
            </div>
          </div>
          <% if education.degree %>
            <span class="small d-block">
              <strong><%= Education.human_attribute_name(:degree) %>:</strong>
              <%= display_resource(education.degree) %>
            </span>
          <% end %>
          <% if education.course %>
            <span class="small d-block">
              <strong><%= Education.human_attribute_name(:course) %>:</strong>
              <%= display_resource(education.course) %>
            </span>
          <% end %>
          <% if education.from_date %>
            <span class="small d-block">
              <strong><%= Education.human_attribute_name(:from_date) %>:</strong>
              <%= display_time(education.from_date) %>
              <% if education.approximate_dates %>
                <strong>*</strong>
              <% end %>
            </span>
          <% end %>
          <% if education.from_date || education.to_date %>
            <span class="small d-block">
              <strong><%= Education.human_attribute_name(:to_date) %>:</strong>
              <% if education.to_date %>
                <%= display_time(education.to_date) %>
                <% if education.approximate_dates %>
                  <strong>*</strong>
                <% end %>
              <% else %>
                -
              <% end %>
            </span>
          <% end %>
          <% if education.approximate_dates %>
            <strong class="small">* <%= Education.human_attribute_name(:approximate_dates_label) %></strong>
          <% end %>
          <span class="small d-block">
            <strong class="mr-1">
              <%= Education.human_attribute_name(:sources) %>:
            </strong>
            <div class="d-none d-md-inline-block">
              <% if can? :update, education %>
                <a href="#add-source-<%= education.id %>"
                   class="action has-tooltip"
                   data-toggle="modal"
                   data-placement="top"
                   title="<%= Education.human_attribute_name(:new_source) %>">
                  <%= image_tag image_path("open-iconic/plus.svg") %>
                </a>
              <% end %>
            </div>
          </span>
          <% education.sources.each do |link| %>
            <div class="small d-block">
              <span class="float-left mr-2">
                <strong class="ml-3 mr-1 float-left">
                  <%= link_to(link.label, link_path(link, origin: origin_params)) %>
                </strong>
                <div class="small d-inline-block text-truncate float-left has-tooltip"
                     title="<%= link.url %>"
                     style="max-width: 150px; padding-top: 3px">
                  <%= link.url %>
                </div>
              </span>
              <div class="d-none d-md-inline-block">
                <% if can? :update, link %>
                  <a href="#edit-link-<%= link.id %>"
                     class="action has-tooltip"
                     data-toggle="modal"
                     data-placement="top"
                     title="<%= Link.human_attribute_name(:edit) %>">
                    <%= image_tag image_path("open-iconic/pencil.svg") %>
                  </a>
                <% end %>
                <% if can? :delete, link %>
                  <a href="#destroy-link-<%= link.id %>"
                     class="action has-tooltip"
                     data-toggle="modal"
                     data-placement="top"
                     title="<%= Link.human_attribute_name(:destroy) %>">
                    <%= image_tag image_path("open-iconic/x.svg") %>
                  </a>
                <% end %>
              </div>
            </div>
          <% end %>
          <span class="small d-block">
            <strong class="mr-1">
              <%= Education.human_attribute_name(:attachments) %>:
            </strong>
            <div class="d-none d-md-inline-block">
              <% if can? :update, education %>
                <a href="#add-attachment-<%= education.id %>"
                   class="action has-tooltip"
                   data-toggle="modal"
                   data-placement="top"
                   title="<%= Education.human_attribute_name(:new_attachment) %>">
                  <%= image_tag image_path("open-iconic/plus.svg") %>
                </a>
              <% end %>
            </div>
          </span>
          <% education.attachments.each do |attachment| %>
            <div class="small d-block">
              <span class="mr-1">
                <strong class="ml-3">
                  <%= link_to attachment.label, attachment_path(attachment, origin: origin_params) %>
                </strong>
                <span><%= attachment.file_extension %></span>
                <span class="small">(<%= number_to_human_size(attachment.file_size) %>)</span>
              </span>
              <div class="d-none d-md-inline-block">
                <% if can? :update, attachment %>
                  <a href="#edit-attachment-<%= attachment.id %>"
                     class="action has-tooltip"
                     data-toggle="modal"
                     data-placement="top"
                     title="<%= Attachment.human_attribute_name(:edit) %>">
                    <%= image_tag image_path("open-iconic/pencil.svg") %>
                  </a>
                <% end %>
                <% if can? :delete, attachment %>
                  <a href="#destroy-attachment-<%= attachment.id %>"
                     class="action has-tooltip"
                     data-toggle="modal"
                     data-placement="top"
                     title="<%= Attachment.human_attribute_name(:destroy) %>">
                    <%= image_tag image_path("open-iconic/x.svg") %>
                  </a>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
