<div class="modal-body participant-only">
  <%= t("observatorio.models.event_participant.participant.updated",
        event: tag.strong(display_name(@resource.event))).html_safe %>
</div>
<div class="modal-body event-only">
  <%= t("observatorio.models.event_participant.event.updated",
        participant: tag.strong(display_name(@resource.participant))).html_safe %>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">
    <%= t("observatorio.dialog.ok") %>
  </button>
</div>

<%= hidden_field_tag :refresh_element, "#event_participant-#{@resource.id}" %>
<%= hidden_field_tag :refresh_element, "#history-subsection" %>
