<!doctype html>
<html lang="<%= I18n.locale %>">
  <head>
    <!-- Metadata -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>

    <!-- Styles -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.1.1/mapbox-gl-geocoder.css"
          integrity="sha384-PNPrf8S77YHBkFMirWwNkyZb3bDNjMtYP7qqdTim+5wyvia0XOuKFDjrKWXKTDQr"
          crossorigin="anonymous" />
    <link rel="stylesheet"
          href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.43.0/mapbox-gl.css"
          integrity="sha384-c7eG2TJZ54vu3GemVxWA7MqAfINNAaMktQMg4MutsppPTALbWxYwdQanCH1cy3j4"
          crossorigin="anonymous" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
          integrity="sha256-rByPlHULObEjJ6XQxW/flG2r+22R5dKiAoef+aXWfik="
          crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.css"
          integrity="sha256-AbZqn2w4KXugIvUu6QtV4nK4KlXj4nrIp6x/8S4Xg2U="
          crossorigin="anonymous" />
    <%= stylesheet_link_tag "application", media: "all" %>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
			      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
            integrity="sha256-KM512VNnjElC30ehFwehXjx1YCHPiQkOPmqnrWtpccM="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.6.1/iframeResizer.min.js"
            integrity="sha256-S9PJrDx9Y/gAWrIr0moZJgyJ0wwdahYCCFfw5N8B8zQ="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.js"
            integrity="sha256-gQzieXjKD85Ibbpg4l8GduIagpt4oUSQRYaDaLd+8sI="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/i18n/jquery-ui-timepicker-addon-i18n.min.js"
            integrity="sha256-xVBmBpMQr0PfoVGMOjWnh3eIrFuhimhtCjBjsuHqwOg="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-mask-plugin@1.14.16/dist/jquery.mask.min.js"
            integrity="sha256-Kg2zTcFO9LXOc7IwcBx1YeUBJmekycsnTsq2RuFHSZU="
            crossorigin="anonymous"></script>
    <!-- Title -->
    <title>
      <%= yield :title %> | <%= APP_CONFIG["app_name"] %>
    </title>
  </head>

  <body class="bg-light">
    <!-- People forms -->
    <%=
      render partial: "modal_form", locals: {
        modal_id: "new-person",
        modal_title: Person.human_attribute_name(:new_record),
        url: new_person_path
      }
    %>
    <%=
      render partial: "modal_form", locals: {
        modal_id: "new-person-tag",
        modal_title: PersonTag.human_attribute_name(:new_record),
        url: new_tag_path(tag: { type: PersonTag })
      }
    %>

    <!-- Organization forms -->
    <%=
      render partial: "modal_form", locals: {
        modal_id: "new-organization",
        modal_title: Organization.human_attribute_name(:new_record),
        url: new_organization_path
      }
    %>
    <%=
      render partial: "modal_form", locals: {
        modal_id: "new-organization-tag",
        modal_title: OrganizationTag.human_attribute_name(:new_record),
        url: new_tag_path(tag: { type: OrganizationTag })
      }
    %>
    <%=
      render partial: "modal_form", locals: {
        modal_id: "new-organization-position",
        modal_title: OrganizationPosition.human_attribute_name(:new_record),
        url: new_organization_position_path
      }
    %>

    <!-- Educations forms -->
    <%=
      render partial: "modal_form", locals: {
        modal_id: "new-education-degree",
        modal_title: EducationDegree.human_attribute_name(:new_record),
        url: new_education_degree_path
      }
    %>
    <%=
      render partial: "modal_form", locals: {
        modal_id: "new-education-course",
        modal_title: EducationCourse.human_attribute_name(:new_record),
        url: new_education_course_path
      }
    %>

    <!-- Events forms -->
    <%=
      render partial: "modal_form", locals: {
        modal_id: "new-event",
        modal_title: Event.human_attribute_name(:new_record),
        url: new_event_path
      }
    %>
    <%=
      render partial: "modal_form", locals: {
        modal_id: "new-event-tag",
        modal_title: EventTag.human_attribute_name(:new_record),
        url: new_tag_path(tag: { type: EventTag })
      }
    %>
    <%=
      render partial: "modal_form", locals: {
        modal_id: "new-event-role",
        modal_title: EventRole.human_attribute_name(:new_record),
        url: new_event_role_path
      }
    %>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-md fixed-top bd-navbar">
      <%= link_to APP_CONFIG["app_name"], root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
              aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse navbar-left" id="navbarCollapse">
        <ul class="navbar-nav mr-auto navbar-expand-lg">
          <% if can? :list, Person %>
            <li class="nav-item <%= "active" if controller_path == "people" %>">
              <%= link_to Person.model_name.human(count: 2), people_path, class: "nav-link" %>
            </li>
          <% end %>
          <% if can? :list, Organization %>
            <li class="nav-item <%= "active" if controller_path == "organizations" %>">
              <%= link_to Organization.model_name.human(count: 2), organizations_path, class: "nav-link" %>
            </li>
          <% end %>
          <% if can? :list, Event %>
            <li class="nav-item <%= "active" if controller_path == "events" %>">
              <%= link_to Event.model_name.human(count: 2), events_path, class: "nav-link" %>
            </li>
          <% end %>
          <% if can?(:list, EventTag) || can?(:list, PersonTag) || can?(:list, OrganizationTag) ||
                can?(:list, UserGroup) || can?(:list, Import) || can?(:list, EducationDegree) %>
            <li id='admin-dropdown' class='nav-item dropdown
                <%= "active" if %w(tags
                                   event_roles
                                   education_courses
                                   organization_positions
                                   education_degrees
                                   user_groups
                                   imports/memberships
                                   imports/organizations).include?(controller_path) %>'>
              <%= link_to "#{t("observatorio.menu.more")}...", "#",
                          id: "menu-new",
                          class: "nav-link dropdown-toggle ",
                          :"data-toggle" => "dropdown",
                          :"aria-haspopup" => true,
                          :"aria-expanded" => false %>
              <div class="dropdown-menu" aria-labelledby="admin-dropdown">
                <% if can? :list, PersonTag %>
                  <%= link_to PersonTag.model_name.human(count: 2),
                        tags_path(tag: { type: PersonTag }),
                        class: "dropdown-item #{"active" if controller_path == "person_tags"}" %>
                <% end %>
                <div class="dropdown-divider"></div>
                <% if can? :list, OrganizationTag %>
                  <%= link_to OrganizationTag.model_name.human(count: 2),
                        tags_path(tag: { type: OrganizationTag }),
                        class: "dropdown-item #{"active" if controller_path == "organization_tags"}" %>
                <% end %>
                <% if can? :list, OrganizationPosition %>
                  <%= link_to OrganizationPosition.model_name.human(count: 2), organization_positions_path,
                        class: "dropdown-item #{"active" if controller_path == "organization_positions"}" %>
                <% end %>
                <div class="dropdown-divider"></div>
                <% if can? :list, EducationDegree %>
                  <%= link_to EducationDegree.model_name.human(count: 2), education_degrees_path,
                        class: "dropdown-item #{"active" if controller_path == "education_degrees"}" %>
                <% end %>
                <% if can? :list, EducationCourse %>
                  <%= link_to EducationCourse.model_name.human(count: 2), education_courses_path,
                        class: "dropdown-item #{"active" if controller_path == "education_courses"}" %>
                <% end %>
                <div class="dropdown-divider"></div>
                <% if can? :list, EventTag %>
                  <%= link_to EventTag.model_name.human(count: 2),
                        tags_path(tag: { type: EventTag }),
                        class: "dropdown-item #{"active" if controller_path == "event_tags"}" %>
                <% end %>
                <% if can? :list, EventRole %>
                  <%= link_to EventRole.model_name.human(count: 2), event_roles_path,
                        class: "dropdown-item #{"active" if controller_path == "event_roles"}" %>
                <% end %>
                <% if can?(:list, UserGroup) || can?(:list, Import) %>
                  <div class="d-none d-md-block">
                    <div class="dropdown-divider"></div>
                    <% if can? :list, Import %>
                      <%= link_to MembershipsImport.model_name.human(count: 2), imports_memberships_path,
                            class: "dropdown-item #{"active" if controller_path == "imports/memberships"}" %>
                      <%= link_to OrganizationsImport.model_name.human(count: 2), imports_organizations_path,
                            class: "dropdown-item #{"active" if controller_path == "imports/organizations"}" %>
                    <% end %>
                    <% if can? :list, UserGroup %>
                      <%= link_to UserGroup.model_name.human(count: 2), user_groups_path,
                            class: "dropdown-item #{"active" if controller_path == "user_groups"}" %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </li>
          <% end %>
          <% if user_signed_in? %>
            <li class="nav-item d-md-none">
              <div class="dropdown-divider"></div>
              <%= link_to t("observatorio.logout"), logout_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
      <% if user_signed_in? %>
        <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
          <li class="nav-item dropdown">
            <%= link_to "#{t("observatorio.models.new")}...", "#",
                        id: "menu-new",
                        class: "nav-item nav-link dropdown-toggle mr-md-2 btn btn-primary",
                        :"data-toggle" => "dropdown",
                        :"aria-haspopup" => true,
                        :"aria-expanded" => false %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="new-menu">
              <% if can? :create, Person %>
                <%= link_to Person.model_name.human, "#new-person",
                      :"data-toggle" => "modal", class: "dropdown-item" %>
              <% end %>
              <% if can? :create, PersonTag %>
                <%= link_to PersonTag.model_name.human, "#new-person-tag",
                      :"data-toggle" => "modal", class: "dropdown-item" %>
              <% end %>
              <div class="dropdown-divider"></div>
              <% if can? :create, Organization %>
                <%= link_to Organization.model_name.human, "#new-organization",
                      :"data-toggle" => "modal", class: "dropdown-item" %>
              <% end %>
              <% if can? :create, OrganizationTag %>
                <%= link_to OrganizationTag.model_name.human, "#new-organization-tag",
                      :"data-toggle" => "modal", class: "dropdown-item" %>
              <% end %>
              <% if can? :create, OrganizationPosition %>
                <%= link_to OrganizationPosition.model_name.human, "#new-organization-position",
                      :"data-toggle" => "modal", class: "dropdown-item" %>
              <% end %>
              <div class="dropdown-divider"></div>
              <% if can? :create, EducationDegree %>
                <%= link_to EducationDegree.model_name.human, "#new-education-degree",
                      :"data-toggle" => "modal", class: "dropdown-item" %>
              <% end %>
              <% if can? :create, EducationCourse %>
                <%= link_to EducationCourse.model_name.human, "#new-education-course",
                      :"data-toggle" => "modal", class: "dropdown-item" %>
              <% end %>
              <div class="dropdown-divider"></div>
              <% if can? :create, Event %>
                <%= link_to Event.model_name.human, "#new-event",
                      :"data-toggle" => "modal", class: "dropdown-item" %>
              <% end %>
              <% if can? :create, EventTag %>
                <%= link_to EventTag.model_name.human, "#new-event-tag",
                      :"data-toggle" => "modal", class: "dropdown-item" %>
              <% end %>
              <% if can? :create, EventRole %>
                <%= link_to EventRole.model_name.human, "#new-event-role",
                      :"data-toggle" => "modal", class: "dropdown-item" %>
              <% end %>
            </div>
          </li>
          <li class="nav-item dropdown">
            <%= link_to current_user.email, "#",
                  id: "menu-new",
                  class: "nav-item nav-link dropdown-toggle mr-md-2 btn btn-warning",
                  :"data-toggle" => "dropdown",
                  :"aria-haspopup" => true,
                  :"aria-expanded" => false %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="new-menu">
              <%= link_to t("devise.registrations.edit.title"), edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to t("observatorio.preferences.title"), edit_preferences_path, class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to t("observatorio.logout"), logout_path, class: "dropdown-item" %>
            </div>
          </li>
        </ul>
      <% end %>
    </nav>

    <!-- Flash messages -->
    <div class="flash-messages">
      <% flash.each do |key, message| %>
        <% case key %>
        <% when "alert", "error" %>
          <div class="alert alert-danger">
            <%= message %>
          </div>
        <% when "success", "notice" %>
          <div class="alert alert-success">
            <%= message %>
          </div>
        <% when "warn", "warning" %>
          <div class="alert alert-warning">
            <%= message %>
          </div>
        <% when "info" %>
          <div class="alert alert-info">
            <%= message %>
          </div>
        <% end %>
      <% end %>
    </div>

    <!-- Main content -->
    <main role="main" class="container">
      <%= yield %>
    </main>

    <!-- Footer -->
    <footer class="footer small fixed-bottom">
      <div class="container">
        <span class="text-muted">Powered by</span>
        <a href="https://framagit.org/lobster/observatorio/" target="_blank">Observatório</a>
        <span class="text-muted">© 2017-2019 Felipe Batista & Waldir Lisboa Rocha</span>
      </div>
    </footer>
  </body>

  <!-- Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input@1.3.1/dist/bs-custom-file-input.min.js"
          integrity="sha256-Kf72uYqY9REOgAOMF5o3jzROuWqX0CFpDUKaOHX27dQ="
          crossorigin="anonymous" ></script>
  <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.43.0/mapbox-gl.js"
          integrity="sha384-RPx1A3dUJbdO1hGR2+qCx1429FkVGpE95BqJjjjxfXPxAPPgUHU8fmeD4pCCeCi5"
          crossorigin="anonymous"></script>
  <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-language/v0.9.2/mapbox-gl-language.js"
          integrity="sha384-r//rTdiHHzC3OmqQL0Ch3z5PNm6iY7z/gAOJ3QXGy4bASNY6XU9rXAdm+2Ss5Bap"
          crossorigin="anonymous"></script>
  <%= render partial: "jquery_ui_timepicker_#{I18n.locale}" %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"
          integrity="sha256-CutOzxCRucUsn6C6TcEYsauvvYilEniTXldPa6/wu0k="
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.21/moment-timezone-with-data-2012-2022.min.js"
          integrity="sha256-Jv+5wei4zCofi7M6D+HbGcXbFBOsshNv+aIJSodBGhM="
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.943/pdf.min.js"
          integrity="sha256-co9ejuqsObIaa1JBpNpa1vFVyEg8XOZTkjgvaObyjGk="
          crossorigin="anonymous"></script>
  <%= javascript_include_tag "application" %>
  <script>
    mapboxgl.accessToken = '<%= APP_CONFIG["mapbox"]["public_token"] %>';
  </script>
</html>
